@charset "UTF-8";

//---------------------------------------------------
// common : 공통 요소 스타일
//---------------------------------------------------

/* ios safe area */
:root {
	--safeTop:env(safe-area-inset-top);
	--safeBtm:env(safe-area-inset-bottom);
}

body {
    padding:var(--safeTop) 0 var(--safeBtm) !important;

    #main {

    }

}
.wrap {
    position: relative;
    min-width: 108rem;
    @include fs ($fs24);
}

