//---------------------------------------------------
// common : 공통 요소 스타일
//---------------------------------------------------

//skip
.skip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;

    a {
        display: block;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin-bottom: -1px;

        &:focus,
        &:active {
            @include fs ($fs24);
            text-align: center;
            color: #000;
            width: 100%;
            height: auto;
            padding: 2rem 0;
            background-color: #ccc;
        }
    }
}

//dim
.dim {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);
    z-index: 101;

    &.on {
        display: block;
    }
}

//box
[class^='box-'] {
    border-radius: 12px;
    border: 1px solid transparent;

    &[class*='gray'] {
        background-color: $bg-f6f6f6;
    }

    &[class*='gray'][class*='line'] {
        border-color: $color-f6f6f6;
        background-color: $bg-fff;
    }

    &[class*='white'] {
        background-color: $bg-fff;
    }

    &[class*='white'][class*='line'] {
        border-color: $color-f6f6f6;
        background-color: $bg-fff;
    }
}

//font-style
$f-sizes: 
12,
13,
14,
15,
16,
18,
20,
24,
30,
40,
50;

@each $f-size in $f-sizes {
    .fs#{$f-size} {
        font-size: ($f-size + px)
    }
}

//font weight
.fw-b {
    font-weight: $fw-b !important;
}

.fw-m {
    font-weight: $fw-m !important;
}

.fw-r {
    font-weight: $fw-r !important;
}

//flex
.flex {
    @include flex-flow();
}


//color
.color {

    &-red {
        color: $color-red !important;
    }

    &-fff {
        color: $color-fff !important;
    }

    &-000 {
        color: $color-000 !important;
    }

    &-111 {
        color: $color-111 !important;
    }

    &-666 {
        color: $color-666 !important;
    }

    &-f6f6f6 {
        color: $color-f6f6f6 !important;
    }

    &-e6e6e6 {
        color: $color-e6e6e6 !important;
    }

    &-ccc {
        color: $color-ccc !important;
    }
}

//bg color
.bg {

    &-red {
        background-color: $bg-red !important;
    }

    &-fff {
        background-color: $bg-fff !important;
    }

    &-000 {
        background-color: $bg-000 !important;
    }

    &-111 {
        background-color: $bg-111 !important;
    }

    &-666 {
        background-color: $bg-666 !important;
    }

    &-f6f6f6 {
        background-color: $color-f6f6f6 !important;
    }

    &-e6e6e6 {
        background-color: $color-e6e6e6 !important;
    }

    &-ccc {
        background-color: $bg-ccc !important;
    }
}

//ellipsis
.ellipsis {
    @include ellipsis(1);

    &-line02 {
        @include ellipsis(2);
    }

    &-line05 {
        @include ellipsis(5);
    }
}

//width : px
.w {

    @for $i from 0 through 800 {

        @if($i%1==0) {

            &#{$i} {
                width: #{$i}px !important;
            }
        }
    }
}

//width : %
.wp {

    @for $i from 5 through 100 {

        @if($i%5==0) {

            &#{$i} {
                width: #{$i}+'%' !important;
            }
        }
    }
}

//margin-top
.mt {

    @for $i from 0 through 80 {

        @if($i%5==0) {

            &#{$i} {
                margin-top: #{$i}px !important;
            }
        }
    }
}

//margin-bottom
.mb {

    @for $i from 1 through 50 {

        @if($i%5==0) {

            &#{$i} {
                margin-bottom: #{$i}px !important;
            }
        }
    }
}

//margin-left
.ml {

    @for $i from 1 through 50 {

        @if($i%1==0) {

            &#{$i} {
                margin-left: #{$i}px !important;
            }
        }
    }
}

//margin-right
.mr {

    @for $i from 1 through 50 {

        @if($i%5==0) {

            &#{$i} {
                margin-right: #{$i}px !important;
            }
        }
    }
}

//padding-top
.pt {

    @for $i from 1 through 50 {

        @if($i%5==0) {

            &#{$i} {
                padding-top: #{$i}px !important;
            }
        }
    }
}

//padding-bottom
.pb {

    @for $i from 0 through 50 {

        @if($i%5==0) {

            &#{$i} {
                padding-bottom: #{$i}px !important;
            }
        }
    }
}

//padding-left
.pl {

    @for $i from 1 through 50 {

        @if($i%5==0) {

            &#{$i} {
                padding-left: #{$i}px !important;
            }
        }
    }
}

//padding-right
.pr {

    @for $i from 1 through 50 {

        @if($i%5==0) {
            
            &#{$i} {
                padding-right: #{$i}px !important;
            }
        }
    }
}

//text-align
.al {

    &-l {
        text-align: left;
    }

    &-r {
        text-align: right;
    }

    &-c {
        text-align: center;
    }

}

//float
.fl {

    &-l {
        float: left;
    }

    &-r {
        float: right;
    }
}

//border
.border {

    &-none {
        border: 0 !important;
    }
}

//hr
.hr {
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    background-color: $bg-000;
}

//button
[class^='btn-'] {
    display: inline-block;
    padding: 0 10px;
    font-weight: $fw-m;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;

    &[class*='white'][class*='line'] {
        color: #111;
        background-color: #fff;
        border-color: #111;
    }

    &[class*='red'] {
        color: #fff;
        background-color: #dc000c;
        border-color: #dc000c;
    }

    &[class*='red'][class*='line'] {
        background-color: #fff;
        color: #dc000c;
    }

    &[class*='gray'] {
        color: #fff;
        background-color: #666;
        border-color: #666;
    }

    &[class*='white']:disabled,
    &[class^='btn-white'].disabled {
        background-color: #fff;
        color: #bfbfbf;
        border-color: #bfbfbf;
    }

    &[class*='sm'] {
        min-width: 100px;
        height: 45px;
        line-height: 43px;
        padding: 0 20px;
        font-size: 13px;
    }

    &[class*='md'] {
        height: 44px;
        line-height: 42px;
        padding: 0 35px;
        font-size: 14px;
    }

    &[class*='lg'] {
        min-width: 205px;
        height: 60px;
        line-height: 58px;
        padding: 0 55px;
        font-size: 16px;
    }
}

.row-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    [class^='btn'] {
        width: 100%;
        padding: 0 20px;
    }

    .col {
        margin: 0;

        &+.col {
            margin-left: 1rem;
        }
    }
}

//select box
.select {
    @include wh (100%, 4.5rem);
    @include fs($fs14);
    padding: 12px 10px;
    color: $color-111;
    background-color: $bg-fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background: #fff url($path-img-ico + 'ico_arrow_select.svg') no-repeat right 10px top 50% / auto;
    appearance: none;

    @include mobile {
        @include wh (100%, 4rem);
        @include fs($fs15);
        padding: 9px 15px;
        background-position: right 15px top 50%; 
    }
}

//input
.input {
    @include wh (100%, 4.5rem);
    @include fs($fs14);
    padding: 12px 10px;
    color: $color-111;
    background-color: $bg-fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}

//radio
.radio {
    position: relative;
    display: inline-block;
    height: 2rem;
    @include fs($fs14);

    input[type='radio'] {
        display: inline-block;
        @include wh(2rem, 2rem);
        margin-right: 5px;
        vertical-align: top;
        border: 1px solid #e1e1e1;
        border-radius: 50%;
        cursor: pointer;
        -webkit-appearance: none;

        &:checked {
            background-color: transparent;
            border-color: $color-red;

            &+i {
                @include position (.5rem, .5rem);
                @include wh(1rem, 1rem);
                display: inline-block;
                background-color: $bg-red;
                border-radius: 50%;
            }
        }

        &:disabled {
            background-color: #eee;
            border: 1px solid #e1e1e1;

            &+i,
            &:checked+i {
                display: inline-block;
                background-color: #d9d9d9;
            }
        }
    }

    &.txt+.txt {
        margin-left: 30px;
    }
}

//checkbox
.checkbox {
    position: relative;
    display: inline-block;
    height: 2rem;
    @include fs($fs14);

    i {
        @include position (0, 0);
        display: inline-block;
        @include wh(2.4rem, 2.4rem);
        background: url($path-img-ico + 'ico_check.svg') no-repeat center center;
    }

    input[type='checkbox'] {
        display: inline-block;
        @include wh(2.4rem, 2.4rem);
        margin-right: 5px;
        vertical-align: top;
        border: 1px solid #e1e1e1;
        border-radius: 6px;
        cursor: pointer;
        -webkit-appearance: none;

        &:checked {
            background-color: #dc000c;
            border-color: #dc000c;
        }

        &:disabled {
            background-color: #eee;
            border: 1px solid #e1e1e1;

            &:checked+i {
                display: inline-block;
                background-position: -105px -95px;
            }

            &+i {
                display: none;
            }
        }
    }
}


//table
.table-wrap {

    @include mobile {
        padding: 0 20px;
    }

    .td>.td {
        padding: 0 0 !important;
    }

    .top-wrap {
        @include flex-flow;
        flex-wrap: wrap;
        margin-top: 6rem;

        .txt {
            @include fs($fs14);
            color: $color-666;

            span {
                color: $color-red;
            }
        }

        .hr {
            margin-top: 1rem;
            width: 100%;
        }
    }

    .top-title {
        @include fs($fs18);
    }

    .required {
        &:after {
            content: " *";
            color: $color-red;
        }
    }

    //리스트 테이블
    [class$='-list'] {
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        border-top: 2px solid $color-000;

        .tr:first-child {

            @include mobile {
                display: none;
            }
        }

        .tr {
            display: table-row;
            border-bottom: 1px solid $bg-f6f6f6;

            @include mobile {
                position: relative;
                height: 10.2rem;
            }

            .title {
                width: calc(100% - 62%);
            }

            .category {
                width: 20rem;

                @include mobile {
                    @include fs($fs14);
                    color: $color-666;
                }
                
                span {
                    &+span::before {
                        content: "";
                        display: inline-block;
                        @include wh(1.2rem, 1.2rem);
                        background: url($path-img-common + 'ico_arrow_category.svg') no-repeat center / cover;

                        @include mobile {
                            vertical-align: -2px;
                        }
                    }
                }
            }

            .hidden {

                @include mobile {
                    display: none !important;
                }
            }

            .th {
                font-weight: $fw-m;
                padding: 1.5rem 1.5rem;
                background-color: $bg-f6f6f6;

                p {
                    color: $color-666;
                }
            }

            .td {
                padding: 1.5rem 1.5rem;

                &.w600 {
                    display: block;
                }

                & {
                    .ellipsis {
                        @include ellipsis(1);
                        width: calc(100% - 100px);
                        margin: 0 auto;
                        padding: 0 5px;
                    }
                }

            }

            .th,
            .td {
                display: table-cell;
            }

            p {
                @include fs($fs15);
            }

            @include mobile {

                .show-bottom1 ~ .show-bottom2:before {
                    content:"";
                    position: absolute;
                    top: 6px;
                    left: -6px;
                    width: 1px;
                    height: 8px;
                    background-color:#666;
                }
                .show-bottom2 ~ .show-bottom3:before {
                    content:"";
                    position: absolute;
                    top: 6px;
                    left: -6px;
                    width: 1px;
                    height: 8px;
                    background-color:#666;
                }

                & [class*='show-'] {
                    position: absolute;
                    top: 6.8rem;
                    text-align: left;

                    p {
                        @include fs($fs13);
                        color: $color-666;
                    }

                    &[class*='-top'] {
                        left: 0;
                        top: 1.5rem;
                        width: 85%;
                        @include fs($fs13);

                        p {
                            @include fs($fs13);
                        }
                    }

                    &[class*='-top2'] {
                        left: 0;
                        top: 4rem;
                        @include fs($fs15);

                        p {
                            width: auto;
                            padding: 0 0;
                            @include fs($fs15);
                        }
                    }

                    &[class*='-bottom1'] {
                        left: 0;
                    }

                    &[class*='-bottom2'] {
                        left: 4.6rem;
                    }

                    &[class*='-bottom3'] {
                        left: 11.9rem;
                    }

                    &[class*='-right'] {
                        @include flex-flow;
                        right: 2rem;
                        top: 50%;
                        width: 6rem;
                        transform: translateY(-50%);

                        p {
                            margin-left: 0;
                        }

                        p, a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            color: $color-666;
                        }

                        .file-icon + span {
                            margin-left: 0;
                            margin-top: 2px;
                        }

                        &:before {
                            content:"";
                            width: 1px;
                            height: 73px;
                            background-color: #e6e6e6;
                        }
                    }
                }

                .th {
                    font-weight: $fw-m;
                    padding: 1.5rem 1.5rem;
                    background-color: $bg-f6f6f6;

                    p {
                        color: $color-666;
                    }
                }

                .td {
                    padding: 0 0;

                }
            }
        }
    }

    //등록 table
    .edit-title {
        margin-top: 6rem;
        border-bottom: 1px solid $color-e6e6e6;
        width: 100%;
        border-top: 2px solid $color-000;

        ul {
            width: 100%;
            display: flex;
            padding: 2.5rem 0;

            li {
                display: flex;

                &+li {
                    margin-left: 3rem;
                }

                p {
                    @include fs($fs14);
                    line-height: 10px;

                    &.tit {
                        font-weight: $fw-m;
                        color: $color-666;
                    }

                    &+p {
                        border-left: 1px solid $color-ccc;
                        margin-left: 8px;
                        padding-left: 8px;
                    }
                }
            }
        }
    }

    &>[class*='-edit'] {
        width: 100%;
        text-align: left;

        .tr {
            @include flex-flow;

            .th {
                font-weight: $fw-m;
                padding: 1.5rem 0;
                flex: 0 0 8rem;
            }

            .td {
                flex: 1 1 auto;
                padding: 1.5rem 0;

                &.w600 {
                    display: block;
                }

                & {
                    .ellipsis {
                        @include ellipsis(1);
                        width: calc(100% - 100px);
                        margin: 0 auto;
                        padding: 0 5px;
                    }
                }
            }

            p {
                @include fs($fs15);
            }
        }

        &.type2 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1.5rem;

            .tr {
                @include flex-flow;
                width: 100%;
                flex: 1 1 100%;

                .th {
                    flex: 0 0 13rem;
                    font-weight: $fw-m;
                    padding: .5rem 0;

                    &~.th {
                        margin-left: 14rem;
                    }
                }

                .td {
                    @include flex-flow;
                    justify-content: start;
                    flex: 1 1 50%;
                    padding: .5rem 0;

                    [class^='btn'] {
                        margin-left: 10px;
                    }

                    & {
                        .ellipsis {
                            @include ellipsis(1);
                            width: calc(100% - 100px);
                            margin: 0 auto;
                            padding: 0 5px;
                        }
                    }
                }

                p {
                    @include fs($fs15);
                }

                .radio-group {
                    height: 4.5rem;
                }
            }
        }
    }

    //상세 table
    .detail-title {
        margin-top: 6rem;
        border-bottom: 1px solid $color-e6e6e6;
        width: 100%;
        border-top: 2px solid $color-000;

        .detail-name {
            @include fs($fs20);
            margin-top: 2.5rem;
        }

        ul {
            width: 100%;
            display: flex;
            padding: 1rem 0 2.5rem;

            li {
                display: flex;

                &+li {
                    margin-left: 3rem;
                }

                p {
                    @include fs($fs14);
                    line-height: 10px;

                    &.tit {
                        font-weight: $fw-m;
                        color: $color-666;
                    }

                    &+p {
                        border-left: 1px solid $color-ccc;
                        margin-left: 8px;
                        padding-left: 8px;
                    }
                }
            }
        }
    }

    &>[class*='-detail'] {
        width: 100%;
        text-align: left;

        .tr {
            @include flex-flow;
            border-bottom: 1px solid $color-e6e6e6;

            .th {
                width: 9rem;
                font-weight: $fw-m;
                padding: 1.5rem 0;
                word-break: keep-all;
            }

            .td {
                flex: 1 1 auto;
                padding: 1.5rem 0;

                &.w600 {
                    display: block;
                }

                & {
                    .ellipsis {
                        @include ellipsis(1);
                        width: calc(100% - 100px);
                        margin: 0 auto;
                        padding: 0 5px;
                    }
                }

                .video-play {
                    margin-top: 2rem;
                    width: 100%;
                    height: 67.5rem;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            p {
                @include fs($fs15);
            }
        }

        &.type2 {
            display: flex;
            flex-wrap: wrap;

            .tr {
                @include flex-flow;
                width: 100%;
                flex: 1 1 100%;

                .th {
                    flex: 0 0 13rem;
                    font-weight: $fw-m;
                    padding: 1.5rem 0;

                    &~.th {
                        margin-left: 3rem;
                    }

                    .tit {
                        font-weight: $fw-m;
                        color: $color-666;
                    }
                }

                .td {
                    @include flex-flow;
                    justify-content: start;
                    flex: 1 1 33.3%;

                    [class^='btn'] {
                        margin-left: 10px;
                    }

                    & {
                        .ellipsis {
                            @include ellipsis(1);
                            width: calc(100% - 100px);
                            margin: 0 auto;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
    }

    //동영상 리스트 table
    .video-list-wrap {
        border-top: 2px solid $color-000;

        ul {
            @include flex-flow;
            flex-wrap: wrap;
            margin-top: 4rem;

            li {
                width: calc(100%/2 - 10px);

                &:nth-child(n+3) {
                    margin-top: 2rem;
                }

                .item {
                    display: flex;

                    .area {
                        overflow: hidden;
                        width: 25rem;
                        height: 14rem;

                        img {
                            width: 100%;
                        }
                    }

                    .info {
                        margin-left: 1.5rem;

                        .tit {
                            @include fs($fs18);
                            word-break: keep-all;
                        }

                        .dsc {
                            @include fs($fs14);
                            margin-top: 1.5rem;
                        }

                        .dsc2 {
                            @include fs($fs14);
                            margin-top: .5rem;
                            color: $color-666;
                        }
                    }
                }
            }
        }
    }
}

//input file
.input-file {
    width: 100%;

    .file-label {
        display: inline-block;
        min-width: auto;
        padding: 5px 10px 7px;
        font-size: 12px;
        line-height: 1;
        color: #fff;
        text-align: center;
        letter-spacing: -0.05em;
        border: 1px solid #555;
        background: #555;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .file-name {
        width: calc(100% - 11rem) !important;
    }
}

.input-none {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

//add file
.add-file {

    &.view {

        .add-file-names {
            width: 100% !important;
            border: 0;
            padding-left: 0;

            .name {
                @include fs($fs14);

                &:before {
                    content: none;
                }
            }
        }
    }

    &.flex {
        align-items: start;
    }

    .add-file-names {
        width: calc(100% - 11rem) !important;
        border: 1px solid $color-e6e6e6;
        border-radius: 6px;
        padding: 2rem;

        .inner {
            display: inline-block;
        }

        .name {
            display: block;
            position: relative;
            @include fs($fs12);

            &:before {
                content: "";
                @include position (100%, 0);
                @include wh(1.2rem, 1.2rem);
                margin: 3px 0 0 5px;
                background: url($path-img-common + 'ico_cancel_1.svg') no-repeat 0 0;
            }

            &+.name {
                margin-top: 5px;
            }
        }
    }
}

//댓글
.comment-wrap {
    margin-top: 7rem;
    @include flex-flow;
    background-color: $bg-f6f6f6;
    padding: 2rem;

    .title {
        width: 8rem;

        em {
            font-weight: $fw-m;
            @include fs($fs14);
        }
    }

    .counter {
        @include fs($fs12);
        color: $color-666;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    .inner {
        flex: 1 1 100%;
        height: 10rem;
        padding: 20px;
        border-radius: 6px;
        background-color: $color-fff;
        border: 1px solid $color-e6e6e6;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-color: transparent;
    }

    textarea {
        @include fs($fs12);
        padding: 0;
        border: 0;
        resize: none;

        &::-webkit-input-placeholder {
            @include fs($fs12);
        }
    }

    .comment-register {
        @include wh(100px, 100px);
        background-color: $bg-fff;
        border: 1px solid $color-e6e6e6;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.comment-lists {
    margin-top: 4rem;

    .length {
        @include fs($fs16);
        padding-bottom: 1rem;
        font-weight: $fw-m;
        border-bottom: 1px solid $color-e6e6e6;

        em {
            font-weight: $fw-m !important;
        }

    }

    .comment-item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 2rem 0;
        border-bottom: 1px solid $color-e6e6e6;

        .info {

            span {
                display: inline-block;
                line-height: 1rem;
                font-weight: $fw-m;
                font-size: 1.4rem;

                &+span {
                    margin-left: 1rem;
                    padding-left: 1rem;
                    border-left: 1px solid $color-ccc;
                }
            }
        }

        .txt {
            @include fs($fs14);
            margin-top: 1rem;
        }

        .date {
            @include fs($fs12);
            margin-top: .5rem;
        }

        .del {
            position: absolute;
            right: 0;
            top: 2rem;
            text-decoration: underline;
            color: $color-666;
        }
    }
}

//filter
.filter-wrap {

    @include mobile {
        padding: 0 20px;
    }

    .inner {
        margin-top: 5rem;
        margin-bottom: 1rem;

        @include mobile {
            margin-top: 4rem;
        }
    }

    ul {
        display: flex;

        li {
            @include fs($fs14);
            line-height: 1.2rem;
            color: $color-666;

            &+li {
                border-left: 1px solid #ccc;
                margin-left: 1rem;
                padding-left: 1rem;

                @include mobile {
                    margin-left: 0.5rem;
                    padding-left: 0.5rem;
                }
            }
        }
    }

    .select-wrap {
        width: 13rem;
    }
}

//paging
.paging {
    margin-top: 40px;
    text-align: center;
    font-size: 0;
    line-height: 0;

    @include mobile {
        margin-top: 30px;
    }

    a {
        position: relative;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        font-size: 18px;
        line-height: 3rem;
        color: $color-666;
        vertical-align: top;
        padding-top: 1px;

        @include mobile {
            width: 2rem;
            height: 2rem;
            font-size: 14px;
            line-height: 2rem;
        }

        &.on {
            font-weight: $fw-b;
            color: $color-red;
        }
    }

    .first {
        background: url($path-img-common + 'ico_arrow_doble.svg') no-repeat center;
        
        @include mobile {
            display: none;
        }
    }

    .prev {
        background: url($path-img-common + 'ico_arrow_single.svg') no-repeat center;

        @include mobile {
            background-image: url($path-img-common + 'ico_arrow_single_m.svg');
            background-size: cover;
            margin-right: 10px;
        }
    }

    .last {
        background: url($path-img-common + 'ico_arrow_doble.svg') no-repeat center;
        transform: rotate(180deg);

        @include mobile {
            display: none;
        }
    }

    .next {
        background: url($path-img-common + 'ico_arrow_single.svg') no-repeat center;
        transform: rotate(180deg);

        @include mobile {
            background-image: url($path-img-common + 'ico_arrow_single_m.svg');
            background-size: cover;
            margin-left: 10px;
        }
    }

    .first.disabled,
    .prev.disabled,
    .last.disabled,
    .next.disabled {
        background-position: center center;
    }
}

//file icon
.file-icon {
    @include wh(2rem, 2rem);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    &[type*='pdf'] {
        background-image: url($path-img-ico + 'ico_pdf.svg');
    }

    &[type*='word'] {
        background-image: url($path-img-ico + 'ico_word.svg');
    }

    &[type*='excel'] {
        background-image: url($path-img-ico + 'ico_excel.svg');
    }

    &[type*='html'] {
        background-image: url($path-img-ico + 'ico_html.svg');
    }

    &+span {
        vertical-align: middle;
        margin-left: .3rem;
    }
}

//table bottom button
.right-btn {
    text-align: right;
    margin-top: 1rem;

    //버튼 아래에 페이징이 있는 경우
    &+.paging {
        margin-top: -1rem;
    }
}


//location
.location-wrap {
    background-color: #373d45;
    height: 12rem;

    @include mobile {
        padding: 0 20px;
        background-color: #373d45;
        height: 5rem;
    }

    .inner {
        @include flex-flow;
        height: 100%;
        width: 120rem;
        margin: 0 auto;

        @include mobile {
            width: 100%;
        }

        .location-title {
            color: #fff;
            font-size: 30px;
            font-weight: $fw-m;

            @include mobile {
                color: #fff;
                font-size: 16px;
                font-weight: $fw-m;
            }
        }

        .location-list {
            font-size: 0;

            li {
                position: relative;
                display: inline-block;
                @include fs ($fs14);
                color: $color-fff;

                @include mobile {
                    @include fs ($fs12);
                    color: #eee;
                }

                &+li {
                    padding-left: 2.4rem;

                    @include mobile {
                        padding-left: 1.4rem;
                    }

                    &:before {
                        content: "";
                        @include position (7px, 4px);
                        @include wh (1.2rem, 1.2rem);
                        background: url($path-img-ico + 'ico_arrow_right_location.svg') no-repeat center center;

                        @include mobile {
                            @include position (1px, 3px);
                        }
                    }
                }
            }
        }
    }
}

//search box
.search-box-wrap {
    margin-top: 4rem;

    @include mobile {
        margin-top: 0;
    }

    >.inner {
        background-color: $bg-f6f6f6;
        padding: 3.5rem 14.3rem;
        border-radius: 12px;

        @include mobile {
            padding: 2rem;
        }

        .table-col {
            display: table;
            width: 100%;

            @include mobile {
                display: block;
            }

            &+.table-col {
                margin-top: 1rem;

                @include mobile {
                    margin-top: 2rem;
                }   
            }

            .th {
                @include fs($fs18);
                font-weight: $fw-b;
                width: 12.6rem;
                white-space: nowrap;
                
                @include mobile {
                    @include fs($fs14);
                    font-weight: $fw-r;
                    width: auto;
                    color: $color-666;
                }
            }

            .td {
                @include mobile {
                    margin-top: 10px;
                }

                & [class*='-wrap'] {
                    display: inline-block;

                    @include mobile {
                        width: 100% !important;
                    }

                    &+[class*='-wrap'] {
                        margin-left: 6px;

                        @include mobile {
                            margin-left: 0;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .th,
            .td {
                display: table-cell;
                vertical-align: middle;

                @include mobile {
                    display: block;
                }
            }

            .loop {
                &+.loop {
                    margin-top: 1rem;
                }
            }

            .ico-search {
                display: inline-block;
                @include wh(2.6rem, 2.6rem);
                margin-left: 1rem;
                background: url($path-img-ico + 'ico_plus.svg') no-repeat center center;
                vertical-align: middle;

                &.plus {
                    background: url($path-img-ico + 'ico_plus.svg') no-repeat center center;
                }

                &.minus {
                    background: url($path-img-ico + 'ico_minus.svg') no-repeat center center;
                }
            }
        }
    }
}



//modal
.modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    @include wh(100%, 100%);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 11;

    //alert type
    .modal-wrap {
        @include position (50%, 50%);
        transform: translate(-50%, -50%);
        @include fs($fs15);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
       
        

        &[type='alert'] {
           @include wh(30rem,20rem);
           overflow:hidden;
           border-radius:1.5rem;
        }

        .modal-header {
            position: relative;
            padding: 1rem;
            box-sizing: border-box;
            background-color: $bg-red;
            @include blind;

            .modal-title {
                @include fs($fs18);
                color: $color-fff;
            }

            .modal-close {
                @include position (1rem, 1rem);
            }
        }

        .modal-content {
            @include flex-flow;
            flex-direction: column;
            text-align: center;

            p {
                @include wh(100%,15rem);
                background: $bg-fff;
                font-size: $fs15;
                @include flex-flow ($justify: center, $align: center);
                border:1px solid $color-ccc;
                border-bottom:0;
                border-radius:1.5rem 1.5rem 0 0;
                box-sizing: border-box;
            }

            .btns {
                @include wh(100%, 5rem);
                display: flex;

                &.btns--full-wh .modal__btn {
                    width:100%;
                }

                &.include-red-stroke {
                    border-left:1px solid $color-red;
                    border-radius: 0 0 0 1.5rem;
                }

                .modal__btn {
                    display: block;
                    @include wh(50%, 100%);
                    font-size: $fs15;
                    line-height: 5rem;
                    text-align: center;
                    @include border-radius($radius : 0);
                    font-weight: $fw-r;

                    &.btn--gray {
                        background: $bg-666;
                        border-left:1px solid $color-666;
                    }
                    &.btn--red-stroke {
                        background: $bg-fff;
                        border-color:$bg-red;
                        color:$color-red;
                        border-width:1px 0 1px 0;
                        border-radius:0 0 0 1.5rem ;
                    }
                }

            }

            
        }

        &.modal--m-size[type='alert'] {
            @include wh(36rem,24rem);

            .modal-content {
                height:100%;
            }
            .password-input {
                padding: 3rem 3rem 0 3rem;
                background: #fff;
                width:100%;
                height:calc(100% - 5rem);
                margin:0 auto;
                text-align: left;

                p {
                    position: relative;
                    padding-left: 1.5rem;
                    margin-top: 1rem;
                    height:auto;
                    font-size:$fs13;
                    color:$color-666;
                    border:0;
                    text-align: left;
                    display: block;

                    &::before { 
                        content:'※';
                        position: absolute;
                        left:0;
                        top:0;
                        width:.4rem;
                        height:.5rem;
                    }
                }

                dt, dd {
                    width:100%;
                }
                dt {
                    margin-bottom: 2rem;
                    font-size: $fs15;
                    font-weight:$fw-m;
                    color:$color-111;
                }
                input[type="password"] {
                    padding:1rem 1.5rem;
                     height:4rem;
                     color:$color-666;
                     @include border-radius(4px);
                     
                }
            }
        }
    }

    .modal-close {
        display: block;
        @include wh(2rem, 2rem);
        background: url();
    }


}

//검색결과 tab
.tab-wrap {

    .tab-title {

        .depth1 {

            .inner {
                @include flex-flow;

                a {
                    flex: 1 0 128px;
                    height: 4.8rem;
                    border-top: 1px solid $color-e6e6e6;
                    border-bottom: 1px solid $color-e6e6e6;
                    @include fs($fs15);
                    line-height: 4.6rem;
                    background-color: $bg-f6f6f6;
                    text-align: center;
                    color: $color-666;

                    &:first-child {
                        border-left: 1px solid $color-e6e6e6;
                    }

                    &:last-child {
                        border-right: 1px solid $color-e6e6e6;
                    }

                    &.on {
                        border-bottom: 1px solid transparent;
                        border-left: 1px solid $color-e6e6e6;
                        font-weight: $fw-m;
                        color: inherit;
                        background-color: $bg-fff;
                    }
                }
            }

            .depth2 {
                @include flex-flow;
                margin-top: 2rem;
                justify-content: center;

                li {

                    a {
                        @include fs($fs14);
                        padding: 0 1.5rem;

                        &.on {
                            color: $color-red;
                            font-weight: $fw-m;
                        }
                    }
                }
            }
        }
    }
}
