@charset "UTF-8";

//---------------------------------------------------
// layout : 헤더 푸터 제외한 기본 레이아웃 style
//---------------------------------------------------

/* ios safe area */
:root {
	--safeTop:env(safe-area-inset-top);
	--safeBtm:env(safe-area-inset-bottom);
}

body {
    padding:var(--safeTop) 0 var(--safeBtm) !important;

    &.hidden {
        overflow: hidden;
    }
}



// /* Layout */
// .wrap {
//     position: relative;
//     min-height: 100%;

//     &.bg-gray {
//         background-color: #f3f3f3;
//     }
// }


/* main */
main {

    /* 공통 */
    section {

        .title {

        }

    }
}

/* Title */

/* Button */

/* Form */

/* bullet */

/* logo */

/* Modal */


/* Font Roboto */
.roboto {
    &, & * {
        // font-family: $roboto;
    }
}

/* color */
// .color {

//     &-black {
//         color: $txt-b-color !important;
//     }

//     &-darkgray {
//         color: $txt-dg-color !important;
//     }

//     &-gray {
//         color: $txt-g-color !important;
//     }

//     &-lightgray {
//         color: $txt-lg-color !important;
//     }

//     &-white {
//         color: $txt-w-color !important;
//     }

//     &-purple {
//         color: $txt-p-color !important;
//     }

// }

/* BG color */
// .bg-color {

//     &-purple {
//         background-color: $bg-color-purple !important;
//     }

//     &-pink {
//         background-color: $bg-color-pink !important;
//     }

//     &-blue {
//         background-color: $bg-color-blue !important;
//     }

//     &-black {
//         background-color: $bg-color-black !important;
//     }

//     &-white {
//         background-color: $bg-color-white !important;
//     }

//     &-gray {

//         $gray-colors: ( $bg-color-gray01, $bg-color-gray02, $bg-color-gray03, $bg-color-gray04 );

//         @each $gray in $gray-colors{
//             $i: index($gray-colors, $gray);
//             &0#{$i} {
//                 background-color: #{$gray} !important;
//             }
//         }
//     }
// }

/* font-style */
// .fs {
//     $bst: (bst, $bst-fs, $bst-lh, $bst-ls);
//     $grt : (grt, $grt-fs, $grt-lh, $grt-ls);
//     $tit : (tit, $tit-fs, $tit-lh, $tit-ls);
//     $cm : (cm, $cm-fs, $cm-lh, $cm-ls);
//     $emp : (emp, $emp-fs, $emp-lh, $emp-ls);
//     $st : (st, $st-fs, $st-lh, $st-ls);
//     $txt : (txt, $txt-fs, $txt-lh, $txt-ls);
//     $sb : (sb, $sb-fs, $sb-lh, $sb-ls);
//     $sm : (sm, $sm-fs, $sm-lh, $sm-ls);

//     @each $css, $fs, $lh, $ls in $bst, $grt, $tit, $cm, $emp, $st, $txt ,$sb, $sm {
//         &-#{$css} {
//             @include fs-type($fs, $lh, $ls);
//         }
//     }
// }

/* Font Weight */
// .fs-bold {
//     font-weight: $font-bold !important;
// }

// .fs-medium {
//     font-weight: $font-medium !important;
// }

// .fs-regular {
//     font-weight: $font-regular !important;
// }

/* text */

/* bullit */

/* icon */

// /* 말줄임 */
// .ellipsis {
//     @include ellipsis(1);

//     &-line02 {
//         @include ellipsis(2);
//     }
    
//     &-line05 {
//         @include ellipsis(5);
//     }

// }

// /* margin-top */
// .mt {
//     @for $i from 0 through 80 {
//         @if( $i%5 == 0 ){
//             &#{$i} {
//                 margin-top: #{$i}px !important;
//             }
//         }
//     }
// }

// /* margin-bottom */
// .mb {
//     @for $i from 1 through 50 {
//         @if( $i%5 == 0 ){
//             &#{$i} {
//                 margin-bottom: #{$i}px !important;
//             }
//         }
//     }
// }

// /* margin-left */
// .ml {
//     @for $i from 1 through 50 {
//         @if( $i%5 == 0 ){
//             &#{$i} {
//                 margin-left: #{$i}px !important;
//             }
//         }
//     }
// }

// /* margin-right */
// .mr {
//     @for $i from 1 through 50 {
//         @if( $i%5 == 0 ){
//             &#{$i} {
//                 margin-right: #{$i}px !important;
//             }
//         }
//     }
// }


// /* padding-top */
// .pt {
//     @for $i from 1 through 50 {
//         @if( $i%5 == 0 ){
//             &#{$i} {
//                 padding-top: #{$i}px;
//             }
//         }
//     }
// }

// /* padding-bottom */
// .pb {
//     @for $i from 0 through 50 {
//         @if( $i%5 == 0 ){
//             &#{$i} {
//                 padding-bottom: #{$i}px;
//             }
//         }
//     }
// }

// /* padding-left */
// .pl {
//     @for $i from 1 through 50 {
//         @if( $i%5 == 0 ){
//             &#{$i} {
//                 padding-left: #{$i}px;
//             }
//         }
//     }
// }

// /* padding-right */
// .pr {
//     @for $i from 1 through 50 {
//         @if( $i%5 == 0 ){
//             &#{$i} {
//                 padding-right: #{$i}px;
//             }
//         }
//     }
// }

// /* align */
// .al {

//     &-l {
//         text-align: left;
//     }

//     &-r {
//         text-align: right;
//     }

//     &-c {
//         text-align: center;
//     }

// }

// .fl {
//     &-l {
//         float: left;
//     }
//     &-r {
//         float: right;
//     }
// }

/* Btn */

/* 탭 */


/* toolbar */

/* Form */

/* checkbox */
// .checkbox {
//     .checkbox-input {
//         display: none;
//         &:checked + label {
//             &::before {
//                 border: none;
//                 background-image: url($path-img-ico + 'icon_check.svg');
//                 background-color: $bg-color-purple;
//             }
//         }
//     }
//     label {
//         @include fs-type($txt-fs, $txt-lh, $txt-ls);
//         display: flex;
//         color: $txt-b-color;

//         &::before {
//             position: relative;
//             top: 1px;
//             display: block;
//             margin-right: 10px;
//             width: 20px;
//             height: 20px;
//             border: 2px solid $bg-color-gray01;
//             border-radius: 100%;
//             background-repeat: no-repeat;
//             background-position: 50%;
//             background-size: 12px;
//             flex-shrink: 0;
//             content: "";
//         }
//     }

//     /* 버튼 타입 */
//     &.-btn {

//     }
// }

/* radio */
// .radiobox {
//     &.-btn {
//         label {
//             @include fs($st-fs);

//             display: inline-flex;
//             justify-content: center;
//             align-items: center;
//             min-width: 80px;
//             height: 40px;
//             padding: 0 15px;
//             margin-right: 5px;
//             font-weight: $font-regular;
//             border: 1px solid $bg-color-gray01;
//             border-radius: 10px;
//             background-color: #fff;
//         }

//         .radio-input {
//             display: none;
//             &:checked + label {
//                 color: #fff;
//                 border: none;
//                 background-color: $bg-color-purple;
//             }
//         }
//     }
// }

/* 아코디언 */
// .accordion-group {
//     border-radius: 17px;
//     border: 1px solid $bg-color-gray01;
//     background-color: #fff;

//     .panel-header {
//         .btn-panel {
//             @include flex-flow();
//             padding: 20px;
//             box-sizing: border-box;

//             .fs-ico {
//                 display: inline-block;
//                 margin-bottom: 10px;
//             }

//            .fs-st {
//                display: block;
//                font-weight: $font-medium;
//            }
//         }
//     }

//     .panel-content {
//         display: none;

//         &.on {
//             display: block;
//         }

//         .btn-more-detail {
//             margin: 0 -20px;
//             border-top: 1px solid $bg-color-gray01;
//             .txt {
//                 @include fs-type( $txt-fs, $txt-lh, $txt-ls);
//                 display: inline-flex;
                
//                 &::after {
//                     display: block;
//                     width: 15px;
//                     height: 15px;
//                     margin-left: 1px;
//                     background: url($path-img-ico + 'ico_arrow_black.svg') no-repeat 0 0;
//                     background-size: 15px;
//                     content: "";
//                 }
//             }
//         }
//     }

//     &.type02 {
//         border:none;

//         .panel-header {
//             .btn-panel { 
//                 padding: 25px 20px;
//             }
//         }
//     }

// }
