@charset "UTF-8";

//---------------------------------------------------
// mixin : 재사용 스타일
//---------------------------------------------------



/*
responsive
*/

/* Mobile */
@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}

/* Tablet */
// @mixin tablet {
//     @media (min-width: #{$breakpoint-tablet}) {
//         @content;
//     }
// }

/* Desktop */
// @mixin desktop {
//     @media (min-width: #{$breakpoint-desktop}) {
//         @content;
//     }
// }



/*
transition
*/

@mixin transition($value) {
    transition: $value;
};

// 예) @include transition(all 0.3s cubic-bezier(0.5, 1, 0.89, 1));

/*
clearfix
*/

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
};
/* 예) @include clearfix; */


/*
blind
*/

@mixin blind {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    text-indent: -9999px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}

/*
flex
*/

@mixin flex-flow ($justify: space-between, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
/* 예) @include flex-flow; */

/*
position
*/
@mixin position ($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
};

/*
transform
*/

@mixin transform {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
};
/* 예) @include transform */


/*
border
*/

@mixin border-radius($radius : 100%){
    border-radius: $radius;
};
/* 예) @include border-radius(20px); */


/*
font
*/

@mixin fs-type ($size, $line: $txt-lh, $letter: $txt-ls){
    font-size: $size;
    line-height: $line;
    letter-spacing: $letter;
}
/* 예) @include fs-type( $fs20, $lh32, $ls30 ); */

@mixin fs ($size){  /* 예) @include fs( $fs50 ); */
    /* 50px */
    @if $size == $fs50 {
        font-size: $fs50;
        line-height: $lh50;
        letter-spacing: $ls50;
    }

    /* 40px */
    @if $size == $fs40 {
        font-size: $fs40;
        line-height: $lh40;
        letter-spacing: $ls40;
    }

    /* 30px */
    @if $size == $fs30 {
        font-size: $fs30;
        line-height: $lh30;
        letter-spacing: $ls30;
    }

    /* 24px */
    @if $size == $fs24 {
        font-size: $fs24;
        line-height: $lh24;
        letter-spacing: $ls24;
    }

    /* 20px */
    @if $size == $fs20 {
        font-size: $fs20;
        line-height: $lh20;
        letter-spacing: $ls20;
    }

    /* 18px */
    @if $size == $fs18 {
        font-size: $fs18;
        line-height: $lh18;
        letter-spacing: $ls18;
    }

    /* 16px */
    @if $size == $fs16 {
        font-size: $fs16;
        line-height: $lh16;
        letter-spacing: $ls16;
    }

    /* 15px */
    @if $size == $fs15 {
        font-size: $fs15;
        line-height: $lh15;
        letter-spacing: $ls15;
    }
    /* 14px */
    @if $size == $fs14 {
        font-size: $fs14;
        line-height: $lh14;
        letter-spacing: $ls14;
    }

    /* 12px */
    @if $size == $fs12 {
        font-size: $fs12;
        line-height: $lh12;
        letter-spacing: $ls12;
    }
}

/*
bullet
*/

@mixin bullet-txt {
    position: relative;
    padding-left: 8px;

    &::before {
        display: block;
        position: absolute;
        top: 50%;
        left:0px;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background-color: $txt-dg-color;
        transform: translateY(-50%);
        content: "";
    }

    @content;
}

/* 말줄임 */
@mixin ellipsis($line: 1){
    display: block;

    @if $line == 1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @else if $line == 2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }

    @else if $line == 5 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }

    @content;
}

/*
margin, padding
*/

@mixin mp($pd, $mg) {
    padding: $pd;
    margin: $mg;
}

/*
width, height
*/

@mixin wh($w, $h) {
    width: $w;
    height: $h;
}


// /* Header */
// @mixin header(){
//     position: sticky;
//     top: 0px;
//     display:flex;
//     justify-content: space-between;
//     align-items: center;
//     min-height:50px;
//     padding:0 20px;
//     z-index: 100;

//     &.sticky {
//         position: sticky;
//         top:0px;
//     }
    
//     & > h1 {
//         @include fs-type( $st-fs, $st-lh, $st-ls );
//         width: 100%;
//         text-align: center;
//         font-weight: $font-medium;
        
//         &.category-tit {
//             padding-left: 26px;
//             text-align: left;
//         }
//     }
    
//     & > a {
//         display: block;
//         position: absolute;
//         top: auto;
//         text-indent: -9999px;
//         background-position: 50% 50%;
//         background-repeat: no-repeat;
//         &.btn-go-back {
//             left: 12px;
//             width: 32px;
//             height: 32px;
//             background-image: url($path-img-ico + 'ico_arrow_back.svg');
//             background-size: 18px 18px;
//         }
//         &.btn-alarm {
//             right:12px;
//             width: 40px;
//             height: 40px;
//             background-image: url($path-img-ico + 'ico_alarm.png');
//             background-size:20px 20px;
//         }

//         &.btn-close {
//             right:12px;
//             width: 40px;
//             height: 40px;
//             background-image: url($path-img-ico + 'ico_close.svg');
//             background-size: 16px;
//         }

//         &.btn-setting {
//             right: 12px;
//             width: 40px;
//             height: 40px;
//             background-image: url($path-img-ico + 'ico_setting.svg');
//             background-size: 22px;
//         }

//     }

//     & > button {
//         display: block;
//         position: absolute;
//         top: auto;
//         background-color: transparent;
//         background-position: 50% 50%;
//         background-repeat: no-repeat;
//         text-indent: -9999px;
//         &.btn-search {
//             width: 40px;
//             height: 40px;
//             right:12px;
//             background-image: url($path-img-ico + 'ico_search.svg');
//             background-size : 20px 20px;
//         }
//     }

//     @content;
// }

// /* common contents */
// @mixin gray-area ($pd, $mg, $radius: 10px){
//     @include border-radius($radius);
//     @include gap($pd, $mg);

//     background-color: $bg-color-gray04;

//     .row-area {        
//         border-bottom: 1px solid $bg-color-gray01;

//         &:last-child {
//             padding-bottom: 0px;
//             margin-bottom: 0px;
//             border-bottom: none;
//         }

//         .t-sl {
//             @include fs-type ($sb-fs, $sb-lh, $sb-ls);
//             display: block;
//             color: $txt-dg-color;
//         }

//         .t-st {
//             @include fs-type ($sb-fs, $sb-lh, $sb-ls);
//             display: block;
//             color: #000;
//         }
//     }

//     @content;
// }

// @mixin btn-link($bgSize: 15px, $bgRight: 0, $bgImg: $img-arrow-view) {
//     display: block;
//     background: url($path-img-ico + $bgImg) no-repeat right $bgRight top 50%;
//     background-size: $bgSize;

//     @content;
// }

// @mixin link-list ($pt: 14px, $pb: 14px, $pl: 0, $pr: 0){
//     & {
//         a,
//         button,
//         .btn-link {
//             display: block;
//             background-image: url($path-img-ico + $img-arrow-view);
//             background-repeat: no-repeat;
//             background-position: right 50%;
//             background-size: 15px 15px;
//             padding: $pt $pr $pb $pl;
            
//             .fl-al-c {
//                 display: flex;
//                 height: 100%;
//                 flex-direction: column;
//                 justify-content: center;
//             }

//             .t-sl {
//                 @include fs-type ($sb-fs, $sb-lh, $sb-ls);
//                 display: block;
//                 color: $txt-g-color;
//             }
//             .t-st {
//                 @include fs-type ($sb-fs, $sb-lh, $sb-ls);
//                 display: block;
//                 color: $txt-b-color;
//             }
//             .t-nm {
//                 @include fs-type ($txt-fs, $txt-lh, $txt-ls);
//                 display: block;
//                 color: $txt-b-color;
//             }
//         }
//     }

//     @content;
// }

// /* media query */
// @mixin device($width) {
//     @media (max-width: $width) {
//         @content;
//     }
// }


// @mixin float-flow ($col) {
//     @include clearfix;

//     & > li,
//     & > div,
//     & > .item {
//         float: left;
//     }

//     @if $col == 2 {
//         & > li,
//         & > div,
//         & > .item {
//             width: 50%;
//         }
//     }
//     @else if $col == 3 {
//         & > li,
//         & > div,
//         & > .item {
//             width: 33.33%;
//         }
//     }
//     @else if $col == 4 {
//         & > li,
//         & > div,
//         & > .item {
//             width: 25%;
//         }
//     }

// }

// @mixin ico-txt($ico, $pd: 25px, $w: 20px, $h: 20px) {
//     & {
//         padding-left: $pd;
//         background:url($path-img-ico + $ico) no-repeat 0 0;
//         background-size: $w, $h;
//     }
// }

// @mixin arrow-ico ($w: 30px, $h: 30px, $bs-x: 15px, $bs-y: 15px){
//     width: $w;
//     height: $h;
//     text-indent: -99999px;
//     background: url($path-img-ico + $img-arrow-view) no-repeat 50% 50%;
//     background-size: 15px 15px;

//     &.down {
//         background: url($path-img-ico + $img-arrow-down) no-repeat 50% 50%;
//     }

//     @content;
// }

// @mixin ico-arrow($px, $img){
//     position: relative;

//     .ico,
//     &::before {
//         display: block;
//         width: $px;
//         height: $px;
//         display: block;
//         background-image: url($path-img-ico + $img);
//         background-position: 0 0;
//         background-repeat: no-repeat;
//         text-indent: -99999px;
//         background-size: 100% auto;
//         content: "";
//     }
// }

// @mixin each-icons {

//     $categories-icons: ($ico_category1, $ico_category2, $ico_category3, $ico_category4, $ico_category5, $ico_category6, $ico_category7, $ico_category8, $ico_category9, $ico_category10);
//     $categories-on-icons: ($ico_category1_on, $ico_category2_on, $ico_category3_on, $ico_category4_on, $ico_category5_on, $ico_category6_on, $ico_category7_on, $ico_category8_on, $ico_category9_on, $ico_category10_on);

//     & > li {
//         .icon {
//             @include fs($sm-fs);

//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             width: 100%;
//             height: 100%;

//             &::before {
//                 display: block;
//                 width: 32px;
//                 height: 32px;
//                 content: "";
//             }
//         }
//     }

//     @each $icon in $categories-icons {
//         $i: index($categories-icons, $icon);
//         & > li:nth-of-type(#{$i}) {
//             .icon::before {
//                 background: url($path-img-ico + $icon) no-repeat 0 0;
//                 background-size:32px 32px;
//             }
//         }
//     }

//     @each $icon_on in $categories-on-icons {
//         $i: index($categories-on-icons, $icon_on);
//         & > li.on:nth-of-type(#{$i}) {
//             .icon::before {
//                 background: url($path-img-ico + $icon_on) no-repeat 0 0;
//                 background-size:32px 32px;
//             }
//         }
//     }
// }

