//---------------------------------------------------
// ui : 스타일
//---------------------------------------------------

/**
LOGIN
*/

/* 로그인 */
.log {
    width: 100%;

    .inner {

        margin:0 auto;
        padding:13rem 0 5rem;
        .logo {
            text-align: center;
            a::after {
                content: "";
                display: inline-block;
                @include wh(23rem, 8.7rem);
                background: url($path-img-common + 'logo.svg') no-repeat 0 0;
                background-size: 100%;
            }
        }

        .box-gray {
            width: 80rem;
            margin: 6rem auto 0;
            padding: 3rem;

            .b-item {
                @include fs($fs14);
                color: $color-666;

                & + .b-item {
                    margin-top: 1rem;
                }
            }
        }

        .title {
            @include fs($fs18);
            font-weight: $fw-m;
            color: initial;
        }

        .flex {
            width: 108rem;
            margin: 0 auto;
            align-items: start;

            &.pwc {
                margin-bottom: 5rem;
                justify-content: center;
            }

            .box-gray {
                @include wh(52rem,44rem);
                margin: 12rem 0 0;
                padding: 5rem;

                &.id {
                    a { margin-top: 9.5rem; }
                }

                a {
                    margin-top: 2.5rem;
                }
            }
        }
        .login-wrap {
            margin: 5rem auto 0;
            width: 40rem;
        }
        .input-wrap {
            margin-top: 1.5rem;
            input + input { margin-top: 1rem; }
        }
        .agree {
            width: 80rem;
            margin:2rem auto 0;
            @include fs($fs14);
        }
        .log-search {
            margin-top: 1.5rem;
            text-align: center;
            @include fs($fs14);

            a {
                position: relative;

                & + a {
                    margin-left: 20px;
                }

                & + a:before {
                    @include position (-1.2rem, 5px);
                    @include wh(1px, 1rem);
                    background-color: $bg-ccc;
                    content:"";

                }
            }
        }
        .btn-red-lg {
            width: 100%;
            margin-top: 3.5rem;
            font-weight: $fw-m;
        }

        .comment {
            text-align: center;
            margin-top: 3rem;
            @include fs($fs14);
            color: $color-666;
        }
    }
}


.search-wrap {
    @include flex-flow;
    @include wh(100%, 28rem);
    background: url($path-img-main + 'bg_keyvisual.png') no-repeat left top / cover;

    .inner {
        position: relative;
        width: 120rem;
        margin: 0 auto;
        padding: 2rem 0;

        .tab {
            &:nth-child(1) {
                label {
                    p {
                        margin-top: 60px;
                    }
                }
            }
            &:nth-child(2) {
                label {
                    p {
                        margin-top: 5px;
                    }
                }
            }

            label {
                @include wh(20rem, 12rem);
                display: inline-block;
                background-color: #315bb7;
                cursor: pointer;

                p {
                    @include fs($fs24);
                    color: $color-fff;
                    margin-left: 5.5rem;
                }
            }

            .content {
                display: none;
                @include position (24rem,0);
                right: 0;
                bottom: 0;
                color: $color-fff;
                font-size: 20px;
                margin: 2rem 0;
                padding: 2rem;
                border: 1px solid #ccc; //임시
            }

            [type=radio] {
                display: none;

                &:checked ~ label {

                    & ~ .content {
                        display: block;
                        z-index: 1;
                    }

                    p {
                        position:relative;
                    }
                    p:after {
                        content:"";
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        @include wh (11.2rem, 4px);
                        background-color: $bg-fff;
                    }
                }
            }
        }
    }
}

/*
검색 결과
*/
.result {
    width: 120rem;
    // @include flex-flow;
    // align-items: start;
    position:relative;

    .result-wrap {
        float:left;
        width: 90rem;
    }

    .result-aside {
        float: left;
        display: inline-block;
        width: 25rem;
        margin-left: 5rem;
        margin-top: 19rem;

        &.fixed {
            position: fixed;
            margin-top: 0;
        }
        & > div {
            & + div {
                margin-top: 3rem;
            }
        }

        .lists {
            padding: 0 3rem 3rem;

            .tit {
                @include fs($fs16);
                padding: 3rem 0 2rem;
                font-weight: $fw-m;

            }
            dd {
                a {
                    display: block;
                    @include fs($fs14);
                    
                    & + a {
                        margin-top: 1rem;
                    }
                }
            }
            
        }
    }

    @include clearfix;
}

.result-wrap {
    .filter-wrap {
        ul {
            li {
                @include fs($fs16);
                color: inherit;

                & + li {
                    border: 0;
                    margin-left: .6rem;
                    padding-left: 0;

                }
                span {
                    color: $color-red;
                }
            }
        }
        .select-wrap {
            & + .select-wrap {
                margin-left: 1rem;
            }

        }
    }
}

/* 퀵서치 */
.result-quicksearch {

    & > .title {
        @include fs($fs20);
        font-weight: $fw-m;
        margin-bottom: 1rem;
    }
    dl.list {
        margin-top: 6rem;

        dt {
            @include fs($fs16);
            font-weight: $fw-m;
            border-bottom: 1px solid $color-e6e6e6;
            padding-bottom: 1rem;
        }
        dd {
            @include flex-flow;
            @include fs($fs15);
            padding: 1.5rem 0;
            border-bottom: 1px solid $color-e6e6e6;

            .tit { flex: 0 1 70%; }

        }
    }
}

/* 통합검색 */
.result-integrate-search {
    margin-top: 1rem;
    .result-lists {
        margin-top: 6rem;
        > .title {
            border-bottom: 1px solid $color-e6e6e6;
            padding-bottom: 1rem;
            span {
                @include fs($fs16);

                & + span {
                    &:before {
                        content:"";
                        display: inline-block;
                        @include wh(1.2rem, 1.2rem);
                        background: url($path-img-ico + 'ico_next_1_black.svg') no-repeat 0 0 / 12px 12px;
                        margin: 0 5px 0 3px;
                    }
                }
            }
        }
        dl.list {
            padding: 3rem 0;
            dt {
                @include fs($fs16);
            }
            dd {
                @include fs($fs14);


                .tit {
                    @include fs($fs14);
                    margin-top: 1rem;
                    max-width: 80%;
                    
                }
                .file-link {
                    display: block;
                    @include fs($fs14);
                    margin-top: 1rem;
                    vertical-align:middle;
                }

                .file-icon {
                }
                
                .desc {
                    margin-top: 2rem;
                    .sub-title {
                        span {
                            @include fs($fs14);
                            color: $color-666;
                            & + span {
                                &:before {
                                    content:"";
                                    display: inline-block;
                                    @include wh(1.2rem, 1.2rem);
                                    background: url($path-img-ico + 'ico_next_1.svg') no-repeat 0 0 / 12px 12px;
                                    margin: 0 5px 0 3px;
                                }
                            }
                        }
                    }
                    .date {
                        @include fs($fs14);
                        color: $color-666;
                    }
                }
            }
            & + dl.list {
                
                border-top: 1px solid $color-e6e6e6;
            }
        }

        [class^='btn'] {
            @include wh(100%, 5rem);
            @include fs($fs14);
            line-height: 4.8rem;
            border-color: $color-e6e6e6;
            color: $color-666;
            font-weight: $fw-r;
        }
    }
}
