//---------------------------------------------------
// ui : 스타일
//---------------------------------------------------

//main
main {

    & [class$='-wrap'] {
        @include flex-flow;

        .inner {
            position: relative;
            width: 120rem;
            margin: 0 auto;

            .tab {

                label {
                    display: inline-block;
                    cursor: pointer;

                    p {
                        @include fs($fs24);
                        color: $color-fff;
                        margin-left: 5.5rem;
                    }
                }

                .content {
                    display: none;
                    @include position (23rem, 0);
                    right: 0;
                    bottom: 0;
                    font-size: 20px;
                    margin: 2rem 0;
                    padding: 2rem;

                    color: #f00;

                    .search-bar {
                        @include flex-flow;

                        .search-input {
                            @include fs($fs24);
                            height: 70px;
                            border: 2px solid $color-fff;
                            border-radius: 0;
                            background-color: transparent;
                            color: #fff;
                            outline: 0;

                            &::-webkit-input-placeholder {
                                color: rgba(255, 255, 255,.5);
                                font-size: 2.4rem;
                                line-height: 3.7rem;
                            }
                            &:focus {
                                border: 2px solid #fff;
                            }
                        }

                        button {
                            margin-left: 1rem;
                            @include wh(7rem,7rem);
                            background:$bg-red url($path-img-ico + 'ico_search_2_white.svg') no-repeat center;
                        }
                    }

                    .hash-list {
                        width: 89rem;
                        padding-left: 3rem;
                        @include flex-flow;
                        justify-content: start;
                        flex-wrap: wrap;

                        li {
                            margin: 1.5rem 1.4rem 0 0;

                            a {
                                @include fs($fs18);
                                display: block;
                                color: $color-fff;
                                padding: 5px 1rem;
                                background-color: rgba(255, 255, 255,.15);

                                & + a {

                                }
                            }
                        }
                    }
                }

                [type=radio] {
                    display: none;

                    &:checked~label {

                        &~.content {
                            display: block;
                            z-index: 1;
                        }

                        p {
                            position:relative;
                            display: inline-block;
                            border-bottom: 4px solid $color-fff;
                        }

                        p:after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            bottom: -4px;
                            @include wh ( calc(100% + 5px), 4px );
                            background-color: $bg-fff;
                        }
                    }
                }
            }
        }
    }

    & .search-wrap {
        background: url($path-img-main + 'bg_keyvisual.png') no-repeat left top / cover;
        @include wh(100%, 28rem);

        .inner {
            padding: 2rem 0;

            .tab {

                &:nth-child(1) {

                    label {

                        p {
                            margin-top: 60px;
                        }
                    }
                }

                &:nth-child(2) {

                    label {

                        p {
                            margin-top: 5px;
                        }
                    }
                }

                label {
                    @include wh(20rem, 12rem);
                    background-color: #315bb7;
                }

                .content {
                    margin-top: 10.5rem;
                    padding: 0 0;
                }
            }
        }
    }

    & .menu-wrap {

        .inner {
            margin: 6rem 0;

            .tab {
                label {
                    width: 20rem;
                    background-color: #479fd1;
                }

                &:nth-child(1) {

                    label {
                        height: 8.3rem;

                        p {
                            margin-top: 4.2rem;
                        }
                    }
                }

                &:nth-child(2) {

                    label {
                        height: 5.3rem;

                        p {
                            margin-top: 2.1rem;
                        }
                    }
                }

                &:nth-child(3) {

                    label {
                        height: 10.4rem;

                        p {
                            margin-top: 2.1rem;
                        }
                    }
                }

                .content {
                    margin: 0;
                    padding:0;
                    @include position (26rem, 0);

                    .icon-list {
                        @include flex-flow;
                        align-items: baseline;
                        margin-top: 4rem;

                        .icon-item {
                            flex: 1 1 auto;

                            a {
                                display: block;
                                text-align: center;

                                img:nth-child(1) {

                                    @include mobile {
                                        display: none;
                                    }
                                }
                                img:nth-child(2) {
                                    display: none;

                                    @include mobile {
                                        display: block;
                                    }
                                }
                                span {
                                    display: block;
                                    @include fs($fs20)
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & .bottom-wrap {
        .inner {
            @include flex-flow;
            overflow: hidden;
            height: 24rem;
            margin-bottom: -2rem;

            .info-list {
                width: calc(100% - 41rem);

                .ver-pc {
                    ul {
                        @include flex-flow;

                        li {
                            position: relative;

                            a {
                                display: block;
                            }

                            .con {
                                @include position(0,0);
                                @include wh(20rem, 100%);
                                padding: 6rem 3rem 0 3rem;
                                background-color: rgba(32,65,146,.9);

                                .tit {
                                    margin-bottom: 2rem;
                                    font-weight: $fw-m;
                                    font-size: 2.2rem;
                                    line-height: 3.2rem;
                                    letter-spacing: -0.22px;
                                    color: $color-fff;

                                    &~*{
                                        @include fs($fs18);
                                        color: $color-fff;
                                    }

                                    &~a {
                                        position: relative;

                                        & + a {
                                            margin: 2rem 2rem 0 0;
                                            text-align: right;
                                        }

                                        &:after {
                                            content:"";
                                            position:absolute;
                                            background: url($path-img-main + 'ico_arrow_view.svg') no-repeat left top 2px / 2rem 2rem;
                                            @include wh(2rem, 2rem);
                                        }
                                    }
                                }
                            }
                            &.list-1 {
                                .con {
                                    padding: 6rem 5.9rem 0;
                                }
                            }
                        }
                    }

                    @include mobile {
                        display: none;
                    }
                }
                .ver-mo {
                    display: none;

                    @include mobile {
                        display: block;
                    }
                }
            }

            .notice-list {
                width: 38rem;
                height: 100%;

                .title {
                    @include fs($fs24);
                    font-weight: $fw-b;
                    margin-bottom: 1rem;
                }
                .notice-items {

                    a {
                        @include flex-flow;
                        padding: 1.5rem 0;

                        &:last-child {
                            padding-bottom: .6rem;
                        }

                        p {
                            @include fs($fs15);
                            flex: 0 0 75%;
                        }

                        span {
                            @include fs($fs15);
                            color: #999;
                        }
                    }
                }
            }
        }
    }

}


//LOGIN

//로그인
.log {
    width: 100%;

    .inner {
        margin: 0 auto;
        padding: 13rem 0 5rem;

        .logo {
            text-align: center;

            a::after {
                content: "";
                display: inline-block;
                @include wh(23rem, 8.7rem);
                background: url($path-img-common + 'logo.svg') no-repeat 0 0;
                background-size: 100%;
            }
        }

        .box-gray {
            width: 80rem;
            margin: 6rem auto 0;
            padding: 3rem;

            .b-item {
                @include fs($fs14);
                color: $color-666;

                &+.b-item {
                    margin-top: 1rem;
                }
            }
        }

        .title {
            @include fs($fs18);
            font-weight: $fw-m;
            color: initial;
        }

        .flex {
            width: 108rem;
            margin: 0 auto;
            align-items: start;

            &.pwc {
                margin-bottom: 5rem;
                justify-content: center;
            }

            .box-gray {
                @include wh(52rem, 44rem);
                margin: 12rem 0 0;
                padding: 5rem;

                &.id {

                    a {
                        margin-top: 9.5rem;
                    }
                }
                a {
                    margin-top: 2.5rem;
                }
            }
        }

        .login-wrap {
            margin: 5rem auto 0;
            width: 40rem;
        }

        .input-wrap {
            margin-top: 1.5rem;

            input+input {
                margin-top: 1rem;
            }
        }

        .agree {
            width: 80rem;
            margin: 2rem auto 0;
            @include fs($fs14);
        }

        .log-search {
            margin-top: 1.5rem;
            text-align: center;
            @include fs($fs14);

            a {
                position: relative;

                &+a {
                    margin-left: 20px;
                }

                &+a:before {
                    @include position (-1.2rem, 5px);
                    @include wh(1px, 1rem);
                    background-color: $bg-ccc;
                    content: "";
                }
            }
        }

        .btn-red-lg {
            width: 100%;
            margin-top: 3.5rem;
            font-weight: $fw-m;
        }

        .comment {
            text-align: center;
            margin-top: 3rem;
            @include fs($fs14);
            color: $color-666;
        }
    }
}


//검색 결과
.result {
    position: relative;
    width: 120rem;

    .result-wrap {
        float: left;
        width: 90rem;
    }

    .result-aside {
        display: inline-block;
        width: 25rem;
        margin: 19rem 0 0 5rem;

        &.fixed {
            position: fixed;
            margin-top: 0;
        }

        &>div {

            &+div {
                margin-top: 3rem;
            }
        }

        .box-white {
            border-color:$color-e6e6e6;
        }

        .lists {
            padding: 0 3rem 3rem;

            .tit {
                @include fs($fs16);
                padding: 3rem 0 2rem;
                font-weight: $fw-m;

            }

            dd {

                a {
                    display: block;
                    @include fs($fs14);

                    &+a {
                        margin-top: 1rem;
                    }
                }
            }

        }
    }
    @include clearfix;
}

.result-wrap {

    .tab-wrap {
        margin-top: 8rem;
    }

    .filter-wrap {

        .inner {
            margin-top: 6.8rem;
        }

        ul {

            li {
                @include fs($fs16);
                color: inherit;

                &+li {
                    border: 0;
                    margin-left: .6rem;
                    padding-left: 0;

                }

                span {
                    color: $color-red;
                }
            }
        }

        .select-wrap {

            &+.select-wrap {
                margin-left: 1rem;
            }

        }
    }
}

//퀵서치
.result-quicksearch {

    .result-amnt {
        
        font-weight: $fw-r;
        margin-top: 8.5rem;
        margin-bottom: 1rem;

        li {
            display: inline-block;
            @include fs($fs16);
        }
        span {
            color:$color-red;
        }
    }

    dl.list {
        margin-top: 6rem;

        dt {
            @include fs($fs16);
            font-weight: $fw-m;
            border-bottom: 1px solid $color-e6e6e6;
            padding-bottom: 1rem;
        }

        dd {
            @include flex-flow;
            @include fs($fs15);
            padding: 1.5rem 0;
            border-bottom: 1px solid $color-e6e6e6;

            .tit {
                flex: 0 1 70%;
            }

        }
    }
}

//통합검색
.result-integrate-search {
    margin-top: 1rem;

    .result-lists {
        margin-top: 6rem;

        >.title {
            border-bottom: 1px solid $color-e6e6e6;
            padding-bottom: 1rem;

            span {
                @include fs($fs16);

                &+span {

                    &:before {
                        content: "";
                        display: inline-block;
                        @include wh(1.2rem, 1.2rem);
                        background: url($path-img-ico + 'ico_next_1_black.svg') no-repeat 0 0 / 12px 12px;
                        margin: 0 5px 0 3px;
                    }
                }
            }
        }

        dl.list {
            padding: 3rem 0;

            dt {
                @include fs($fs16);
            }

            dd {
                @include fs($fs14);

                .tit {
                    @include fs($fs14);
                    margin-top: 1rem;
                    max-width: 80%;
                }

                .file-link {
                    display: block;
                    @include fs($fs14);
                    margin-top: 1rem;
                    vertical-align: middle;
                }

                .desc {
                    margin-top: 2rem;

                    .sub-title {
                        span {
                            @include fs($fs14);
                            color: $color-666;

                            &+span {
                                &:before {
                                    content: "";
                                    display: inline-block;
                                    @include wh(1.2rem, 1.2rem);
                                    margin: 0 5px 0 3px;
                                    background: url($path-img-ico + 'ico_next_1.svg') no-repeat 0 0 / 12px 12px;
                                }
                            }
                        }
                    }

                    .date {
                        @include fs($fs14);
                        color: $color-666;
                    }
                }
            }

            &+dl.list {
                border-top: 1px solid $color-e6e6e6;
            }
        }

        [class^='btn'] {
            @include wh(100%, 5rem);
            @include fs($fs14);
            line-height: 4.8rem;
            border-color: $color-e6e6e6;
            color: $color-666;
            font-weight: $fw-r;
        }
    }
}

//depth category
.dep-cate {
    span {
        &+span::before {
            content: "";
            display: inline-block;
            @include wh(1.2rem, 1.2rem);
            background: url($path-img-common + 'ico_arrow_category.svg') no-repeat center / cover;

            @include mobile {
                vertical-align: -2px;
            }
        }
    }
}