@charset "UTF-8";

//---------------------------------------------------
// variable : 기본 재사용 선언 스타일
//---------------------------------------------------


$notosans: 'NotoSansKR', Arial, AppleGothic, verdana, sans-serif;
$roboto: 'Roboto', Arial, AppleGothic, verdana, sans-serif;
$path-img: '../img/';
$path-img-common: $path-img + 'common/';
$path-img-ico: $path-img + 'ico/';
$path-img-btn: $path-img + 'btn/';




$img-notice-up: 'ico_notice.svg';
$img-arrow-up: 'ico_arrow_up.svg';
$img-arrow-down: 'ico_arrow_down.svg';
$img-arrow-view: 'ico_arrow_view.svg';
$img-arrow-circle: 'ico_arrow_circle.svg';
$img-arrow-question: 'ico_question.svg';
$img-arrow-purple: 'ico_arrow_purple.svg';

$img-rating-edit: 'ioc_rating_edit.svg';

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;

// Breakpoints
$breakpoint-mobile: 1024px;
// $breakpoint-tablet: 758px;
// $breakpoint-desktop: 1024px;



/* 50px */
$fs50: 5rem;
$lh50: 1.4;
$ls50: -0.5px;

/* 40px */
$fs40: 4rem;
$lh40: 1.5;
$ls40: -0.4px;

/* 24px */
$fs24: 2.4rem;
$lh24: 1.5;
$ls24: -0.4px;



/* color */
$color-red: #df121a;
$color-fff: #fff;
$color-000: #000;
$color-111: #111;
$color-666: #666;
$color-ccc: #ccc;


// $ico_category1: 'ico_category1.svg';
// $ico_category2: 'ico_category2.svg';
// $ico_category3: 'ico_category3.svg';
// $ico_category4: 'ico_category4.svg';
// $ico_category5: 'ico_category5.svg';
// $ico_category6: 'ico_category6.svg';
// $ico_category7: 'ico_category7.svg';
// $ico_category8: 'ico_category8.svg';
// $ico_category9: 'ico_category9.svg';
// $ico_category10: 'ico_category10.svg';

// $ico_category1_on: 'ico_category1_on.svg';
// $ico_category2_on: 'ico_category2_on.svg';
// $ico_category3_on: 'ico_category3_on.svg';
// $ico_category4_on: 'ico_category4_on.svg';
// $ico_category5_on: 'ico_category5_on.svg';
// $ico_category6_on: 'ico_category6_on.svg';
// $ico_category7_on: 'ico_category7_on.svg';
// $ico_category8_on: 'ico_category8_on.svg';
// $ico_category9_on: 'ico_category9_on.svg';
// $ico_category10_on: 'ico_category10_on.svg';

