<div class="comment-wrap mt70">
    <div class="title">
        <em>댓글작성</em>
        <div class="counter">0 <span>/ 300</span></div>
    </div>
    <div class="inner">
        <textarea name="" id="" cols="" rows="4" maxlength="200" placeholder="비방, 모욕, 개인정보 유출, 광고 댓글은 관리자에 의해 삭제 됩니다.&#13;&#10;300자 이내로 작성햐여 주십시오." value=""></textarea>
    </div>

    <button class="comment-register" type="summit" id="">
        등록
    </button>
</div>

<div class="comment-lists mt40">
    <div class="length">
        <em>댓글 </em><span>4,623</span>
    </div>
    <div class="comment-item">
        <div class="info">
            <span>ABCDEF</span>
            <span>홍길동</span>
            <span>강동지점1</span>
        </div>
        <div class="txt">
            유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.유익한 정보 감사합니다.
        </div>
        <div class="date">2022.10.01</div>
        <button type="button" class="del">삭제</button>
    </div>
    <div class="comment-item">
        <div class="info">
            <span>ABCDEF</span>
            <span>홍길동</span>
            <span>강동지점2</span>
        </div>
        <div class="txt">
            유익한 정보 감사합니다.
        </div>
        <div class="date">2022.10.01</div>
    </div>
    <div class="comment-item">
        <div class="info">
            <span>ABCDEF</span>
            <span>홍길동</span>
            <span>강동지점3</span>
        </div>
        <div class="txt">
            텍스트 영역_텍스트 영역_텍스트 영역_텍스트 영역_텍스트 영역_유익한 정보 감사합니다. 
        </div>
        <div class="date">2022.10.01</div>
        <button type="button" class="del">삭제</button>
    </div>
</div>