<!-- 통합검색 -->
<div class="integrate-search-wrap">
    <form action="">
        <div class="inner">
            <input type="text" value="메뉴얼">
            <!-- 자동완성기능 -->

            <div class="auto-complete-wrap" style="display:none">
                <ul class="srch-list">
                    <li><button type="button"><span>메뉴얼</span> 공유</button> </li>
                    <li><button type="button"><span>메뉴얼</span> 다운로드</button> </li>
                    <li><button type="button">드라이브 설치<span>메뉴얼</span></button> </li>
                    <li><button type="button">2022년 <span>메뉴얼</span> 신규자료</button> </li>
                    <li><button type="button">부품<span>메뉴얼</span></button> </li>
                    <li><button type="button">부품<span>메뉴얼</span></button> </li>
                    <li><button type="button">부품<span>메뉴얼</span></button> </li>
                    <li><button type="button">부품<span>메뉴얼</span></button> </li>
                    <li><button type="button">부품<span>메뉴얼</span></button> </li>
                    <li><button type="button">부품<span>메뉴얼</span></button> </li>
                </ul>
                <div class="close-btn-wrap">
                    <button type="button" class="auto-complete-btn">자동완성 끄기</button>
                </div>
            </div>

            <button type="submit" class="srch-btn"><span class="blind">검색</span></button>
        </div>
        <button type="button" class="btn-close">
            <img src="../assets/img/common/ico_close.svg" alt="close 버튼">
        </button>

        
    </form>
</div>
<!-- //통합검색 -->
