<!-- popup -->

<h2 style="font-size:20px; margin:30px 0 20px;">Alert type</h2>
<!-- type1 -->
<a href="#" onclick="UI.modal.open(modaltest1)" class="btn-red-sm">팝업오픈1</a>
<div class="modal" id="modaltest1">
    <div class="modal-wrap" type="alert">
        <div class="modal-content">
            <p>삭제하시겠습니까?</p>
            <div class="btns include-red-stroke">
                <a href="#" onclick="UI.modal.close(modaltest1)" class="btn--red-stroke modal__btn">취소</a>
                <a href="#" onclick="UI.modal.close(modaltest1)" class="btn--red modal__btn">확인</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->

<!-- type2 -->
<a href="#" onclick="UI.modal.open(modaltest2)" class="btn-red-sm">팝업오픈2</a>
<div class="modal" id="modaltest2">
    <div class="modal-wrap" type="alert">
        <div class="modal-content">
            <p>삭제하시겠습니까? <br>
            텍스트 두 줄 이상</p>
            <div class="btns">
                <a href="#" onclick="UI.modal.close(modaltest2)" class="btn--gray modal__btn">취소</a>
                <a href="#" onclick="UI.modal.close(modaltest2)" class="btn--red modal__btn">확인</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->

<!-- type3 -->
<a href="#" onclick="UI.modal.open(modaltest3)" class="btn-red-sm">팝업오픈3</a>
<div class="modal" id="modaltest3">
    <div class="modal-wrap" type="alert">
        <div class="modal-content">
            <p>삭제하시겠습니까? <br>
            텍스트 두 줄 이상</p>
            <div class="btns btns--full-wh">
                <a href="#" onclick="UI.modal.close(modaltest3)" class="btn--red modal__btn">확인</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->



<h2 style="font-size:20px; margin:30px 0 20px;">Layer type</h2>

<!-- type4 -->
<a href="#" onclick="UI.modal.open(modaltest4)" class="btn-red-sm">팝업오픈4</a>
<div class="modal" id="modaltest4">
    <div class="modal-wrap modal--m-size" type="layer">
        <div class="modal-content">
            <dl class="password-input">
                <dt class="pop-tit">비밀번호 입력</dt>
                <dd>
                    <input type="password" >
                    <p>등록글에 대한 비밀번호를 6~20자리로 입력하여 <br> 주세요. 등록글에 대해 수정/삭제 시 필요합니다.</p>
                </dd>
            </dl>
            <div class="btns">
                <a href="#" onclick="UI.modal.close(modaltest4)" class="btn--gray modal__btn">취소</a>
                <a href="#" onclick="UI.modal.close(modaltest4)" class="btn--red modal__btn">저장</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->

<!-- type5 -->
<a href="#" onclick="UI.modal.open(modaltest5)" class="btn-red-sm">팝업오픈5</a>
<div class="modal" id="modaltest5">
    <div class="modal-wrap  modal--m-size" type="layer">
        <div class="modal-content">
            <div class="content-wrap">
                <strong class="pop-tit">권한 카테고리 등록</strong>
                <dl class="dl-cont">
                    <dt>권한 카테고리명</dt>
                    <dd><input type="text"></dd>
                </dl>
                <dl class="dl-cont">
                    <dt>권한 카테고리 코드</dt>
                    <dd><input type="text"></dd>
                </dl>
                <dl class="dl-cont">
                    <dt>사용여부</dt>
                    <dd>
                        <label class="radio txt">
                            <input type="radio" name="radio1" checked="">
                            <i></i>
                            활성
                        </label>

                        <label class="radio txt">
                            <input type="radio" name="radio1">
                            <i></i>
                            비활성
                        </label>
                    </dd>
                </dl>
            </div>
            <div class="btns">
                <a href="#" onclick="UI.modal.close(modaltest5)" class="btn--gray modal__btn">취소</a>
                <a href="#" onclick="UI.modal.close(modaltest5)" class="btn--red modal__btn">저장</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->

<!-- type6 -->
<a href="#" onclick="UI.modal.open(modaltest6)" class="btn-red-sm">팝업오픈6</a>
<div class="modal" id="modaltest6">
    <div class="modal-wrap  modal--m-size" type="layer">
        <div class="modal-content">
            <button type="button" class="close-btn" onclick="UI.modal.close(modaltest6)"><span class="blind">닫기 버튼</span></button>
            <div class="content-wrap">
                <strong class="pop-tit mb15">권한 카테고리 상세</strong>
                <dl class="dl-cont detail first">
                    <dt>권한 카테고리명</dt>
                    <dd>시스템관리자</dd>
                </dl>
                <dl class="dl-cont detail">
                    <dt>권한 카테고리 코드</dt>
                    <dd>Adcg-001</dd>
                </dl>
                <dl class="dl-cont detail">
                    <dt>사용여부</dt>
                    <dd>활성</dd>
                </dl>
            </div>
            <div class="btns">
                <a href="#" onclick="UI.modal.close(modaltest6)" class="btn--gray modal__btn">삭제</a>
                <a href="#" onclick="UI.modal.close(modaltest6)" class="btn--red modal__btn">수정</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->

<!-- type7 -->
<a href="#" onclick="UI.modal.open(modaltest7)" class="btn-red-sm">팝업오픈7</a>
<div class="modal" id="modaltest7">
    <div class="modal-wrap  modal--m-size" type="layer">
        <div class="modal-content">
            <button type="button" class="close-btn" onclick="UI.modal.close(modaltest7)"><span class="blind">닫기 버튼</span></button>
            <div class="content-wrap chk-include">
                <strong class="pop-tit mb15">접근그룹관리</strong>
                <ul class="chk-list-wrap">
                    <li class="first"><label class="checkbox circle"><input type="checkbox"><i></i>그룹명 </label></li>
                    <li><label class="checkbox circle"><input type="checkbox" checked><i></i>그룹명</label></li>
                    <li><label class="checkbox circle"><input type="checkbox"><i></i>그룹명</label></li>
                    <li><label class="checkbox circle"><input type="checkbox"><i></i>그룹명</label></li>
                </ul>
            </div>
            <div class="btns">
                <a href="#" onclick="UI.modal.close(modaltest7)" class="btn--gray modal__btn">취소</a>
                <a href="#" onclick="UI.modal.close(modaltest7)" class="btn--red modal__btn">저장</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->


<!-- type8 -->
<a href="#" onclick="UI.modal.open(modaltest8)" class="btn-red-sm">팝업오픈8</a>
<div class="modal" id="modaltest8">
    <div class="modal-wrap  modal--m-size" type="layer">
        <div class="modal-content">
            <div class="content-wrap">
                <strong class="pop-tit">메뉴 카테고리 등록</strong>
                <dl class="dl-cont">
                    <dt>시스템구분</dt>
                    <dd>
                        <select class="select on">
                            <option value="">선택</option>
                            <option value="">선택</option>
                        </select>
                    </dd>
                </dl>
                <dl class="dl-cont">
                    <dt>메뉴 카테고리명</dt>
                    <dd><input type="text"></dd>
                </dl>
                <dl class="dl-cont">
                    <dt>메뉴 카테고리 코드</dt>
                    <dd>
                        <input type="text">
                    </dd>
                </dl>
                <dl class="dl-cont">
                    <dt>사용여부</dt>
                    <dd>
                        <label class="radio txt">
                            <input type="radio" name="radio1" checked="">
                            <i></i>
                            활성
                        </label>

                        <label class="radio txt">
                            <input type="radio" name="radio1">
                            <i></i>
                            비활성
                        </label>
                    </dd>
                </dl>
            </div>
            <div class="btns">
                <a href="#" onclick="UI.modal.close(modaltest8)" class="btn--gray modal__btn">취소</a>
                <a href="#" onclick="UI.modal.close(modaltest8)" class="btn--red modal__btn">저장</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->


<!-- type9 -->
<a href="#" onclick="UI.modal.open(modaltest9)" class="btn-red-sm">팝업오픈8</a>
<div class="modal" id="modaltest9">
    <div class="modal-wrap modal__table-wrap modal--m-size" type="layer">
        <div class="modal-content">
            <button type="button" class="close-btn" onclick="UI.modal.close(modaltest9)"><span class="blind">닫기 버튼</span></button>
            <div class="content-wrap chk-include">
                <strong class="pop-tit">접근그룹관리</strong>
                <div class="modal-tb">
                    <table>
                        <colgroup>
                            <col width="7%">
                            <col width="15%">
                            <col width="13%">
                            <col width="17%">
                            <col width="17%">
                            <col width="31%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col"><label class="checkbox circle"><input type="checkbox"><i></i></label></th>
                                <th scope="col">계정명</th>
                                <th scope="col">성명</th>
                                <th scope="col">구분</th>
                                <th scope="col">부서</th>
                                <th scope="col">이메일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label class="checkbox circle"><input type="checkbox"><i></i></label></td>
                                <td>계정명1</td>
                                <td>홍길동</td>
                                <td>직조직</td>
                                <td>마케팅팀</td>
                                <td>abce@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btns">
                <a href="#" onclick="UI.modal.close(modaltest9)" class="btn--gray modal__btn">취소</a>
                <a href="#" onclick="UI.modal.close(modaltest9)" class="btn--red modal__btn">저장</a>
            </div>
        </div>
    </div>
</div>
<!-- //popup -->
