<!-- quicksearch -->
<div class="quicksearch-wrap">
    <form action="">
        <div class="inner">
            <div class="select-wrap">
                <div class="select-box">
                    <select name="" id="">
                        <option value="">전체</option>
                    </select>
                </div>
                <div class="select-box">
                    <select name="" id="">
                        <option value="">전체</option>
                    </select>
                </div>
                <div class="select-box">
                    <select name="" id="">
                        <option value="">전체</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn-red">Search</button>
        </div>
    </form>
</div>
<!-- //quicksearch -->
