<!-- sub top search box -->
<div class="search-box-wrap">
    <div class="inner">
        <div class="table-col result">
            <div class="th">제품 카테고리</div>
            <div class="td">
                <div class="select-wrap w164">
                    <select class="select">
                        <option>전체</option>
                        <option>ENG</option>
                        <option>CHN</option>
                    </select>
                </div>
                <div class="select-wrap w164">
                    <select class="select">
                        <option>전체</option>
                        <option>ENG</option>
                        <option>CHN</option>
                    </select>
                </div>
                <div class="select-wrap w164">
                    <select class="select">
                        <option>전체</option>
                        <option>ENG</option>
                        <option>CHN</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="table-col">
            <div class="th">검색어</div>
            <div class="td add">
                <div class="loop">
                    <div class="select-wrap w130">
                        <select class="select">
                            <option>전체</option>
                            <option>ENG</option>
                            <option>CHN</option>
                        </select>
                    </div>
                    <div class="input-wrap w370 ml6">
                        <input type="text" class="input">
                    </div>
                    <button type="button" class="ico-search plus"><em class="blind">플러스 마이너스 아이콘</em> </button>
                </div>
            </div>
            <div class="td">
                <div class="row-btns al-r">
                    <span class="col"><button type="button" class="btn-gray-sm">초기화</button></span>
                    <span class="col"><button type="button" class="btn-red-sm">검색</button></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //sub top search box  -->