#header {

    position: relative;
    z-index: -1;
    @include wh(100%, 11rem);
    background-color: #fff;


    .inner {
        @include flex-flow;
        align-items: end;
        position: relative;
        width: 120rem;
        height: 100%;
        margin: 0 auto;
        padding: 1.5rem 0;

        .header-logo {

            a::after {
                content: "";
                display: inline-block;
                @include wh(16.2rem, 6rem);
                background: url($path-img-common + 'logo.svg') no-repeat 0 0;
                background-size: 100%;
            }
        }

        .header-util {

            button {
                font-size: 1.6rem;
                padding: 0 0;
                padding-left: 2.8rem;
                line-height: 2.4rem;
                
                & + button { margin-left: 3rem; }

            }
            .btn-search {
                background: url($path-img-common + 'ico_search_1.svg') no-repeat;
            }
            .btn-qsearch {
                background: url($path-img-common + 'ico_quick_searh.svg') no-repeat;
            }
        }

        .header-user {
            position: absolute;
            top: 1.5rem;
            right: 0;
            display: flex;

            .account {
                @include fs ($fs15);
                font-weight: $fw-m;
                margin-right: 4rem;
                line-height: inherit;
            }
            .my {
                @include fs ($fs12);
                line-height: 2.2rem;
                color: $color-666;

                a { 
                    padding-right: 6px;

                    &:last-child { padding-right: 0; }

                    & + a:before {
                        content:"";
                        margin-right: 8px;
                        display: inline-block;
                        @include wh(1px, 10px);
                        background-color: #999;
                    }
                }
            }
        }

        .nav-toggle {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 101;
            width: 24px;
            height: 24px;
            cursor: pointer;

            .hamburger {

                @include position (0, 1rem);
                @include wh(2.4rem, .2rem);
                background-color: #000;

                &:before,
                &:after {
                    content: "";
                    @include wh(2.4rem, .2rem);
                    background-color: #000;
                }

                &:before {
                    @include position (0, -.7rem);
                }

                &:after {
                    content: "";
                    @include position (0, .7rem);
                }
            }

            &.on {
                .hamburger {

                    background-color: transparent;

                    &:before,
                    &:after {
                        top: 0;
                        transition: all .2s ease-in-out;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(135deg);
                    }
                }
            }
        }
    }
}

.nav {
    flex: 0 0 auto;
    height: 100%;

    &:hover {
        .sub-menu {
            display: block;
        }
    }

    &-wrap {

        height: 100%;

        .nav-menu {
            display: flex;
            align-items: center;
            height: 100%;
           

            >li {
                position: relative;
                padding-right: 65px;

                & + li { }

                >a {
                    font-size: 1.8rem;

                 

                }
            }
        }

        .sub-menu {
            display: none;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 6.7rem;
            background-color: #fff;
            @include wh(100%, 12rem);
            // @include transition(all .1s ease-in);

            li {
               
            }
        }
    }

}

/*
Mobile
*/

/* 0부터 1024 까지 스타일 */
@include mobile {

    .wrap {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    #header {

        .inner {
            flex-wrap: wrap;
            width: 100%;

            .header-logo {
                margin: 0 auto;
            }

            .header-util {
                width: 100%;

                .btn-search {
                    background: url($path-img-common + 'ico_search_1.svg') no-repeat 0 0;
                }
                .btn-qsearch {
                    background: url($path-img-common + 'ico_quick_searh.svg') no-repeat 0 0;
                }
            }

            .nav-toggle {
                display: inline-block;
            }
        }

        .nav {
            display: none;
            overflow: hidden;
            @include position (0, .0);
            @include wh(100%, 100vh);
            background-color: #ccc;

            &.on {
                display: block;

                &:hover {
                    .sub-menu {
                        display: none;
                    }
                }
            }

            &-wrap {
                .nav-menu {
                    width: 100%;
                    flex-direction: column;
                    align-items: baseline;
                    margin-top: 10rem;
                }

                .sub-menu {}
            }

        }

    }
}




