#header{

    position: relative;
    z-index: 100;
    @include wh(100%, 12rem);
    background-color: #fff;


    .inner {
        @include flex-flow;
        position: relative;
        width: 108rem;
        height: 100%;
        margin: 0 auto;

        .header-logo {

            a::after {
                content: "";
                display: inline-block;
                @include wh(10rem, 3rem);
                background: url($path-img-common + 'logo.svg') no-repeat 0 0;
                background-size: 100%;
            }
        }
        .header-util {
        //    [class^=btn] {
        //       @include fs ($fs24);
        //    }
        }
        .header-user {
            position: absolute;
            top: 0;
            right: 0;

        }
    }
}

.nav {
    flex: 0 0 50%;
    height: 100%;

    &:hover {
        .nav-content {
            opacity: 1;
        }
    }

    &-menu {
        display: flex;
        align-items:center;
        height: 100%;

        li {
            a{ padding: 0 20px; }
        }
    }

    &-content {
        position: absolute;
        left: 0;
        bottom: -12rem;
        background-color:#ccc;
        opacity: 0;
        @include wh(100%, 12rem);
        //@include transition(all .3s ease-in);
    }

}

