#header {

    position: relative;
    z-index: 100;
    @include wh(100%, 11rem);
    background-color: #fff;


    .inner {
        @include flex-flow;
        position: relative;
        width: 120rem;
        height: 100%;
        margin: 0 auto;

        .header-logo {

            a::after {
                content: "";
                display: inline-block;
                @include wh(16.2rem, 6rem);
                background: url($path-img-common + 'logo.svg') no-repeat 0 0;
                background-size: 100%;
            }
        }

        .header-util {
            //    [class^=btn] {
            //       @include fs ($fs24);
            //    }
        }

        .header-user {
            position: absolute;
            top: 1.5rem;
            right: 0;
            display: flex;

            .account {
                @include fs ($fs15);
                font-weight: $fw-m;
            }
            .my {
                @include fs ($fs12);
                color: $color-666;

                span + span:before {
                    content:"";
                    display: inline-block;
                    @include wh(1px, 10px);
                    background-color: #999;
                }
            }
        }

        .nav-toggle {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 101;
            width: 24px;
            height: 24px;
            cursor: pointer;

            .hamburger {

                @include position (0, 1rem);
                @include wh(2.4rem, .2rem);
                background-color: #000;

                &:before,
                &:after {
                    content: "";
                    @include wh(2.4rem, .2rem);
                    background-color: #000;
                }

                &:before {
                    @include position (0, -.7rem);
                }

                &:after {
                    content: "";
                    @include position (0, .7rem);
                }
            }

            &.on {
                .hamburger {

                    background-color: transparent;

                    &:before,
                    &:after {
                        top: 0;
                        transition: all .2s ease-in-out;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(135deg);
                    }
                }
            }
        }
    }
}

.nav {
    flex: 0 0 50%;
    height: 100%;

    &:hover {
        .sub-menu {
            display: block;
        }
    }

    &-wrap {

        height: 100%;

        .nav-menu {
            display: flex;
            align-items: center;
            height: 100%;

            >li {
                position: relative;

                >a {
                    font-size: 1.8rem;

                }
            }
        }

        .sub-menu {
            display: none;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 6.7rem;
            background-color: #fff;
            @include wh(100%, 12rem);
            // @include transition(all .1s ease-in);
        }
    }

}

/*
Mobile
*/

/* 0부터 1024 까지 스타일 */
@include mobile {

    .wrap {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    #header {

        .inner {
            flex-wrap: wrap;
            width: 100%;

            .header-logo {
                margin: 0 auto;
            }

            .header-util {
                width: 100%;
            }

            .nav-toggle {
                display: inline-block;
            }
        }

        .nav {
            display: none;
            overflow: hidden;
            @include position (0, .0);
            @include wh(100%, 100vh);
            background-color: #ccc;

            &.on {
                display: block;

                &:hover {
                    .sub-menu {
                        display: none;
                    }
                }
            }

            &-wrap {
                .nav-menu {
                    width: 100%;
                    flex-direction: column;
                    align-items: baseline;
                    margin-top: 10rem;
                }

                .sub-menu {}
            }

        }

    }
}




