<!-- table : detail page -->
<div class="table-wrap">
    <div class="top-wrap">
        <strong class="top-title">1. 신청 기본정보</strong>
        <hr class="hr">
    </div>
    <div class="table-detail type2">
        <div class="tr">
            <div class="th">
                <p class="tit">지점/파트너명</p>
            </div>
            <div class="td">
                <p>강남점</p>
            </div>
            <div class="th">
                <p class="tit">신청자</p>
            </div>
            <div class="td">
                <p>홍길동</p>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">TEL</p>
            </div>
            <div class="td">
                <p>02-1234-5678</p>
            </div>
            <div class="th">
                <p class="tit">등록일</p>
            </div>
            <div class="td">
                <p>2022.01.21</p>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">E-Mail</p>
            </div>
            <div class="td">
                <p>dcahn@canon-bs.co.kr</p>
            </div>
        </div>
    </div>
    <div class="top-wrap">
        <strong class="top-title">2. 신청대상 설치기기 정보</strong>
        <hr class="hr">
    </div>
    <div class="table-detail type2">
        <div class="tr ">
            <div class="th">
                <p class="tit">제품 카테고리</p>
            </div>
            <div class="td">
                <p class="dep-cate">
                    <span>1Depth</span>
                    <span>2Depth</span>
                    <span>3Depth</span>
                </p>
            </div>
            <div class="th">
                <p class="tit">기번</p>
            </div>
            <div class="td">
                <p>Abcd-1234-de</p>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">옵션명</p>
            </div>
            <div class="td">
                <p>SEND-KIT</p>
            </div>
            <div class="th">
                <p class="tit">폐 라이선스 번호</p>
            </div>
            <div class="td">
                <p>23-198</p>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">신청사유</p>
            </div>
            <div class="td">
                <p>옵션교환</p>
            </div>
        </div>
    </div>
    <div class="top-wrap">
        <strong class="top-title">3. 교체(신규) 기기정보</strong>
        <hr class="hr">
    </div>
    <div class="table-detail type2">
        <div class="tr">
            <div class="th">
                <p class="tit">제품 카테고리</p>
            </div>
            <div class="td">
                <p class="dep-cate">
                    <span>1Depth</span>
                    <span>2Depth</span>
                    <span>3Depth</span>
                </p>
            </div>
            <div class="th">
                <p class="tit">기번</p>
            </div>
            <div class="td">
                <p>Abcd-1234-de</p>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">기존 라이선스 번호</p>
            </div>
            <div class="td">
                <p>569-7523-adfw</p>
            </div>
        </div>
    </div>
    <div class="top-wrap">
        <strong class="top-title">4. 라이선스 변경지원업무</strong>
        <hr class="hr">
    </div>
    <div class="table-detail type2">
        <div class="tr ">
            <div class="th">
                <p class="tit">재발행 라이선스 번호</p>
            </div>
            <div class="td">
                <p>569-7523-adfw</p>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">지원결과</p>
            </div>
            <div class="td">
                <p>처리완료</p>
            </div>
            <div class="th">
                <p class="tit">재발행일</p>
            </div>
            <div class="td">
                <p>2022.01.02</p>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">지원사원 의견 및 교체부품</p>
            </div>
            <div class="td">
                <p>   유지보수(완판, 렌탈,로파스)(1) EPS에 PoE 허브 고장으로 예비용으로 교체 (2) NVR 재 부팅 후 연결 해제된 네트워크 카메라 연결 설정 (3) 네트워크 카메라 주,야간 수치 재 설정 (4) 담당자에게 사용법 교육</p>
            </div>
        </div>
    </div>
</div>
<!-- //table : detail page -->

<div class="row-btns mt35">
    <span class="col"><button type="button" class="btn-gray-sm">삭제</button></span>
    <span class="col"><button type="button" class="btn-red-sm">수정</button></span>
    <span class="col"><button type="button" class="btn-red-sm line">목록</button></span>
</div>
