<!-- table : video detail page -->
<div class="table-wrap">
    <div class="detail-title">
        <div class="detail-name ellipsis">[IRC3226/IRC3222]"INNER FINISHER" 설치 가이드</div>
        <ul>
            <li>
                <p class="tit">등록자</p>
                <p class="txt">홍길동</p>
            </li>
            <li>
                <p class="tit">부서</p>
                <p class="txt">C&C 지원담당</p>
            </li>
            <li>
                <p class="tit">등록일자</p>
                <p class="txt">2022.10.01</p>
            </li>
            <li>
                <p class="tit">대상모델</p>
                <p class="txt">IRC3226</p>
            </li>
        </ul>
    </div>
    <div class="table-detail">
        <div class="tr">
            <div class="td">
                <p class="detail-txt">
                    "INNER FINISHER” 설치 가이드(영문) 입니다.<br>
                    설치시 참고 바랍니다.
                </p>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">첨부파일</p>
            </div>
            <div class="td">
                <div class="add-file view">
                    <div class="add-file-names">
                        <div class="inner">
                            <span class="name" href="#">INNER FINISHER_가이드A.PDF</span>
                            <span class="name" href="#">INNER FINISHER_가이드A.PDF</span>
                            <span class="name" href="#">INNER FINISHER_가이드A.PDF</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">사용여부</p>
            </div>
            <div class="td">
                <p>활성</p>
            </div>
        </div>
    </div>
</div>
<!-- table : video detail page -->

<!-- 상세 페이지 버튼 -->
<div class="row-btns mt35">
    <span class="col"><button type="button" class="btn-gray-sm">삭제</button></span>
    <span class="col"><button type="button" class="btn-white-sm line">수정</button></span>
    <span class="col"><button type="button" class="btn-red-sm line">목록</button></span>
</div>
<!-- //상세 페이지 버튼 -->