<!-- table : detail page -->
<div class="table-wrap">
    <div class="detail-title">
        <div class="detail-name ellipsis">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:15)</div>
        <ul>
            <li>
                <p class="tit">등록자</p>
                <p class="txt">홍길동</p>
            </li>
            <li>
                <p class="tit">부서</p>
                <p class="txt">C&C 지원담당</p>
            </li>
            <li>
                <p class="tit">등록일자</p>
                <p class="txt">2022.10.01</p>
            </li>
            <li>
                <p class="tit">제품 카테고리</p>
                <p class="dep-cate">
                    <span>1Depth</span>
                    <span>2Depth</span>
                    <span>3Depth</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="table-detail">
        <div class="tr border-none">
            <div class="td pb0">
                <p class="detail-txt">
                    iR-ADV DX C38 & iRC32 동영상 교육 영상 입니다.<br>
                    많은 시청 바랍니다.
                </p>
                <div class="video-play" style="background-color: #eee;"></div>
            </div>
        </div>
    </div>
</div>
<!-- //table : detail page -->

<div class="row-btns mt50 video-wrap-btn">
    <span class="col"><button type="button" class="btn-red-sm line">목록</button></span>
</div>
