<!-- table : edit page -->
<div class="table-wrap">

    <div class="top-wrap">
        <strong class="top-title">1. 신청 기본정보</strong>
        <p class="txt"><span>*</span> 는 필수 입력정보입니다.</p>
        <hr class="hr">
    </div>
    <div class="table-edit type2">
        <div class="tr">
            <div class="th">
                <p class="tit required">지점/파트너명</p>
            </div>
            <div class="td">
                <select class="select" disabled readonly>
                    <option>-선택-</option>
                    <option>ENG</option>
                    <option>CHN</option>
                </select>
            </div>
            <div class="th">
                <p class="tit required">신청자</p>
            </div>
            <div class="td">
                <input type="text" value="홍길동">
            </div>
            
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit required">등록일</p>
            </div>
            <div class="td">
                <label class="td" for="picker">
                    <input type="text" id="picker" class="disabled datepicker" value="2022-01-02">
                    <div class="btn-red-sm line">날짜선택</div>
                </label>
            </div>
            <div class="th">
                <p class="tit required">거래처명</p>
            </div>
            <div class="td">
                <input type="text" value="삼성전자">
            </div>
            
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">비고</p>
            </div>
            <div class="td">
                <input type="text" value="빠른 처리 요청드립니다.">
            </div>
        </div>
    </div>
    <div class="top-wrap">
        <strong class="top-title">2. 신청대상 설치기기 정보</strong>
        <p class="txt"><span>*</span> 는 필수 입력정보입니다.</p>
        <hr class="hr">
    </div>
    <div class="table-edit type2">
        <div class="tr ">
            <div class="th">
                <p class="tit required">대상모델</p>
            </div>
            <div class="td">
                <input type="text" value="imagePRESS C800" readonly disabled>
                <a href="#" class="btn-red-sm line">검색</a>
            </div>
            <div class="th">
                <p class="tit required">기번</p>
            </div>
            <div class="td">
                <input type="text" value="Abcd-1234-de">
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit required">옵션명</p>
            </div>
            <div class="td">
                <input type="text" value="SEND-KIT">
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit required">폐 라이선스 번호</p>
            </div>
            <div class="td">
                <input type="text" value="23-198">
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">신청사유</p>
            </div>
            <div class="td radio-group">
                <label class="radio txt">
                    <input type="radio" name="radio1" checked="">
                    <i></i>
                    본체교환
                </label>
                <label class="radio txt">
                    <input type="radio" name="radio1">
                    <i></i>
                    본체반품
                </label>
                <label class="radio txt">
                    <input type="radio" name="radio1">
                    <i></i>
                    옵션교환
                </label>
                <label class="radio txt">
                    <input type="radio" name="radio1">
                    <i></i>
                    옵션반품
                </label>
                <label class="radio txt">
                    <input type="radio" name="radio1">
                    <i></i>
                    기번오등록
                </label>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit required">거래처</p>
            </div>
            <div class="td">
                <input type="text" value="하이마트 서부 물류셈터">
            </div>
            <div class="th">
                <p class="tit required">대상모델/기종</p>
            </div>
            <div class="td">
                <input type="text" value="삼성전자">
                <a href="#" class="btn-red-sm line">검색</a>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">기계번호</p>
            </div>
            <div class="td">
                <input type="text" value="SEND-KIT">
            </div>
        </div>
    </div>
    <div class="top-wrap">
        <strong class="top-title">3. 교체(신규) 기기정보</strong>
        <p class="txt"><span>*</span> 는 필수 입력정보입니다.</p>
        <hr class="hr">
    </div>
    <div class="table-edit type2">
        <div class="tr ">
            <div class="th">
                <p class="tit required">대상모델</p>
            </div>
            <div class="td">
                <input type="text" value="imagePRESS C800" readonly disabled>
                <a href="#" class="btn-red-sm line">검색</a>
            </div>
            <div class="th">
                <p class="tit required">기번</p>
            </div>
            <div class="td">
                <input type="text" value="Abcd-1234-de">
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">기존 라이센스 번호</p>
            </div>
            <div class="td">
                <input type="text" value="569-7523-adfw">
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">첨부파일</p>
            </div>
            <div class="td">
                <div class="input-file flex">
                    <input type="text" title="파일명" class="file-name" value="Setup.zip">
                    <label for="upload01" class="btn-red-sm line">파일첨부</label>
                    <input type="file" id="upload01" class="file-upload input-none">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- //table : edit page -->

<div class="row-btns mt35">
    <span class="col"><button type="button" class="btn-gray-sm">취소</button></span>
    <span class="col"><button type="button" class="btn-red-sm">저장</button></span>
    <span class="col"><button type="button" class="btn-red-sm line">목록</button></span>
</div>
