<!-- table : edit page -->
<div class="table-wrap">
    <div class="edit-title">
        <ul>
            <li>
                <p class="tit">구분</p>
                <p class="txt">전체</p>
            </li>
            <li>
                <p class="tit">등록자</p>
                <p class="txt">홍길동</p>
            </li>
            <li>
                <p class="tit">부서</p>
                <p class="txt">C&C 지원담당</p>
            </li>
            <li>
                <p class="tit">등록일자</p>
                <p class="txt">2022.10.01</p>
            </li>
        </ul>
    </div>
    <div class="table-edit">
        <div class="tr">
            <div class="th">
                <p class="tit">대상모델</p>
            </div>
            <div class="td">
                <div class="input-file flex">
                    <input type="text" readonly="readonly" title="파일명" class="file-name" value="RC1003" disabled>
                    <label for="upload01" class="btn-white-sm line">모델검색</label>
                    <input type="file" id="upload01" class="file-upload input-none">
                </div>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">제목</p>
            </div>
            <div class="td">
                <input type="text" class="wp100">
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">내용</p>
            </div>
            <div class="td">
                <div class="edit-wrap" style="padding:10px; height:180px; border:1px solid #e6e6e6; border-radius:6px; font-size:20px;">
                    EDIT 영역
                </div>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">첨부파일</p>
            </div>
            <div class="td">
                <div class="add-file flex">
                    <div class="add-file-names">
                        <div class="inner">
                            <a class="name" href="#">테스트 정산파일.xls</a>
                            <a class="name" href="#">테스트 정산파일.xls</a>
                            <a class="name" href="#">테스트 정산파일.xls</a>
                        </div>
                    </div>
                    <div>
                        <label for='file-add'>
                            <span class="btn-white-sm line">파일 찾기</span>
                        </label>
                        <input type="file" id="file-add" class="input-none" name="" title="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tr">
            <div class="th">
                <p class="tit">사용여부</p>
            </div>
            <div class="td">
                <label class="radio txt">
                    <input type="radio" name="radio1" checked="">
                    <i></i>
                    활성
                </label>
                <label class="radio txt">
                    <input type="radio" name="radio1">
                    <i></i>
                    비활성
                </label>
            </div>
        </div>
    </div>
</div>
<!-- //table : edit page -->

<div class="row-btns mt35">
    <span class="col"><button type="button" class="btn-gray-sm">취소</button></span>
    <span class="col"><button type="button" class="btn-red-sm">저장</button></span>
    <span class="col"><button type="button" class="btn-red-sm line">목록</button></span>
</div>
