<!-- //table : video list page -->
<div class="table-wrap">
    <div class="video-list-wrap">
        <ul>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="area" style="background-color:#eee;"></div>
                    <div class="info">
                        <p class="tit">iR-ADV DX C38 & iRC32 동영상 교육 영상 (32:36)</p>
                        <p class="dsc">
                            <span>홍길동</span>
                            <span>2022.01.22</span>
                        </p>
                        <p class="dsc2">
                            <span>모델 : 공통</span>
                            <span>조회수 : 1,250회</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>
<!-- //table : video list page -->
