<!-- table : list page -->
<div class="table-wrap">
    <div class="table-list">
        <div class="tr">
            <div class="th t1">
                <p>번호</p>
            </div>
            <div class="th t2">
                <p>모델명</p>
            </div>
            <div class="th t3 w600">
                <p>제목</p>
            </div>
            <div class="th t4">
                <p>등록자</p>
            </div>
            <div class="th t5">
                <p>등록일</p>
            </div>
            <div class="th t6">
                <p>조회수</p>
            </div>
        </div>
        <div class="tr">
            <div class="td t1">
                <p>100</p>
            </div>
            <div class="td t2">
                <p>공통모델</p>
            </div>
            <div class="td t3 w600">
                <p class="ellipsis">[RC1003]imageRUNNER ADVANCE 4051_4045 [RC1003]imageRUNNER ADVANCE 4051_4045 [RC1003]imageRUNNER ADVANCE 4051_4045</p>
            </div>
            <div class="td t4">
                <p>홍길동</p>
            </div>
            <div class="td t5">
                <p>2021.05.13</p>
            </div>
            <div class="td t6">
                <p>12</p>
            </div>
        </div>
        <div class="tr">
            <div class="td t1">
                <p>100</p>
            </div>
            <div class="td t2">
                <p>공통모델</p>
            </div>
            <div class="td t3 w600">
                <p>[RC1003]imageRUNNER ADVANCE 4051_4045</p>
            </div>
            <div class="td t4">
                <p>홍길동</p>
            </div>
            <div class="td t5">
                <p>2021.05.13</p>
            </div>
            <div class="td t6">
                <p>12</p>
            </div>
        </div>
        <div class="tr">
            <div class="td t1">
                <p>100</p>
            </div>
            <div class="td t2">
                <p>공통모델</p>
            </div>
            <div class="td t3 w600">
                <p class="">[RC1003]imageRUNNER ADVANCE 4051_4045</p>
            </div>
            <div class="td t4">
                <p>홍길동</p>
            </div>
            <div class="td t5">
                <p>2021.05.13</p>
            </div>
            <div class="td t6">
                <p>12</p>
            </div>
        </div>
    </div>
</div>
<!-- //table : list page -->

<!-- 목록 페이지 테이블 아래 버튼 있는 경우 추가 -->
<div class="right-btn">
    <button type="button" class="btn-red-sm line">신규등록</button>
</div>
<!-- //목록 페이지 테이블 아래 버튼 있는 경우 추가 -->