<!-- table : list page -->
<div class="table-wrap">
    <div class="table-list">
        <div class="tr">
            <div class="th num">
                <p>번호</p>
            </div>
            <div class="th mname">
                <p>모델명</p>
            </div>
            <div class="th title">
                <p>제목</p>
            </div>
            <div class="th name">
                <p>등록자</p>
            </div>
            <div class="th date">
                <p>등록일</p>
            </div>
            <div class="th views">
                <p>조회수</p>
            </div>
        </div>
        <div class="tr">
            <div class="td num">
                <p>100</p>
            </div>
            <div class="td mname">
                <p>공통모델</p>
            </div>
            <div class="td title">
                <p class="ellipsis">[RC1003]imageRUNNER ADVANCE 4051_4045 [RC1003]imageRUNNER ADVANCE 4051_4045 [RC1003]imageRUNNER ADVANCE 4051_4045</p>
            </div>
            <div class="td name">
                <p>홍길동</p>
            </div>
            <div class="td date">
                <p>2021.05.13</p>
            </div>
            <div class="td views">
                <p>12</p>
            </div>
        </div>
        <div class="tr">
            <div class="td num">
                <p>100</p>
            </div>
            <div class="td mname">
                <p>공통모델</p>
            </div>
            <div class="td title">
                <p class="ellipsis">[RC1003]imageRUNNER ADVANCE 4051_4045</p>
            </div>
            <div class="td name">
                <p>홍길동</p>
            </div>
            <div class="td date">
                <p>2021.05.13</p>
            </div>
            <div class="td views">
                <p>12</p>
            </div>
        </div>
        <div class="tr">
            <div class="td num">
                <p>100</p>
            </div>
            <div class="td mname">
                <p>공통모델</p>
            </div>
            <div class="td title">
                <p class="ellipsis">[RC1003]imageRUNNER ADVANCE 4051_4045</p>
            </div>
            <div class="td name">
                <p>홍길동</p>
            </div>
            <div class="td date">
                <p>2021.05.13</p>
            </div>
            <div class="td views">
                <p>12</p>
            </div>
        </div>
    </div>
</div>
<!-- //table : list page -->


<div class="right-btn">
    <button type="button" class="btn-red-sm line">신규등록</button>
</div>
